[2017-07-31 12:00] acburdine commented on #406
Closing as a duplicate of #282

[2017-07-31 12:00] #406 closed

[2017-07-31 12:17] grantwinney commented on #386
@ErisDS I had previously forked Casper so I could make a few adjustments without having it get overwritten when I did an update - I didn't realize failing to update the theme could cause a problem, but I see now why it did. I'll be doubly careful about that in the future.

I've since merged the latest Casper changes from the last few days (commits 3993cbd, cd4e0e0, 2b2d6e6, 35e91ec) and the upgrad

[2017-07-31 12:38] ErisDS commented on #386
Hi @grantwinney, unfortunately you're suffering from early adoption syndrome 😝 . We found the issue with Disqus just before we went official with 1.0 (i.e. published a blog post). The fix (addition of `{{comment_id}}` and subsequent changes to Casper happened in Ghost 1.0.2 and Casper 2.0.1.

Really sorry that this impacted you. The people who caught on to Ghost 1.0 before it was announced may all

[2017-07-31 13:21] acburdine opened #410 "Running `ghost install` with `--no-prompt` option fails if mysql is not installed"
See https://github.com/TryGhost/Ghost-CLI/pull/318#issuecomment-319064657

We should throw an error and exit rather than prompt if `--no-prompt` is passed as an option.

[2017-07-31 13:24] mathiasjakobsen commented on #410
@acburdine, throwing an error is not corresponding with the UI message?

In my case I'm actually running a remote database, which should cause the setup too fail.

[2017-07-31 13:26] acburdine commented on #410
oooh ok, yeah that's a good point - will add that check in.

[2017-07-31 14:46] ErisDS commented on #405
I've taken webfaction off the official list in the [hosting guide](https://docs.ghost.org/v1.0.0/docs/hosting) for now. I think this probably counts as "shared" hosting and won't work.

[2017-07-31 14:50] rv-aburdine commented on #405
There is still a partial fix for this in #409 -> in that PR the directory permissions check gets skipped if `--no-setup-linux-user` is passed to `ghost install`.

[2017-07-31 17:32] #410 closed

[2017-07-31 17:44] sebgie commented on #407
So, I have tried this out on a new droplet on DO. I can reproduce the output mentioned above if mysql-server installation fails. This could happen if the package list in apt is not updated (`sudo apt-get update`) before installing mysql-server.

The output after that looks like this:

[code]

I have added a new section about updating the package list and upgrading installed packages to the documen

[2017-07-31 18:53] #405 closed

[2017-08-01 07:42] shinyamagami commented on #176
@morajabi I had the same error as baldlion's, and it got fixed after pointing my domain at my server.

[2017-08-01 08:42] ErisDS commented on #386
Closing in favour of:

https://github.com/TryGhost/Ghost/issues/8808
and
https://github.com/TryGhost/gscan/issues/79

[2017-08-01 08:42] #386 closed

[2017-08-01 09:24] postblue commented on #396
Following as I have this error:

[code]

[2017-08-01 10:39] crakila opened #413 "$ ghost update all?"
### This issue is a

* [ ] Bug Report
* [x] Feature Request

### Summary

I would like to see a `--all` flag for `ghost update`. At the moment, you need to `cd` into the location of the ghost blog and update each one. It would be nice to invoke `ghost update all` and for it to `cd` into those directories itself and do the updates.

Obviously not everyone wants to update all their instances at once

[2017-08-01 11:55] acburdine commented on #201
@ErisDS gonna ping you for thoughts on this one - as Ghost itself is ramping up to a faster release cycle this will probably become more important.

[2017-08-01 11:56] acburdine commented on #413
Definitely worth considering 😄

[2017-08-01 11:57] acburdine commented on #407
Leaving this issue open so I can add an additional check to the migrate step to handle ECONNREFUSED errors with a better error message.

[2017-08-01 11:58] acburdine commented on #400
@crunchprank can you try upgrading to the latest ghost-cli release (1.0.2)? I still have no idea what's happening here but maybe an upgrade would fix it?

[2017-08-01 12:01] acburdine commented on #204
@peterhuene just out of curiosity, does the newer version of the CLI (1.0.2) have enough command line arguments to get mail settings working correctly? A lot were added, and I feel like if people have the need to edit multiple configuration values at once then we're likely missing some needed command line options.

[2017-08-01 12:02] dcinzona commented on #400
I got the same error when doing an upgrade from 1.1.0 to 1.2.0 - using the latest ghost cli version 1.0.2

[2017-08-01 12:06] dcinzona commented on #400
Resolved my upgrade issue by running `ghost update --force`. Website is back up!

[2017-08-01 12:38] ErisDS commented on #201
I would keep 5, it's what I've seen in other places that use this pattern of symlinking to the current version. Not sure that I have a good usecase other than it matches and feels like a nice number 😬

Keeping 1 or 2 seems unnecessarily stringent

[2017-08-01 12:41] ErisDS commented on #204
It is working for me for creating mailgun setups.

I think `ghost config key value` is a nice special case, for example for setting url, but that `ghost config --flag=value --flag2=value` makes sense for the case of multiple keys and values.

I've used it extensively since I implemented it 😬

[2017-08-01 13:24] mlewe opened #414 "systemd unit file location"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

ghost-cli creates systemd unit files in `/lib/systemd/system/`.
According to my understanding the directory `/lib/systemd/system/` is intended for system-supplied unit files, i.e. those installed by the package manager of the distribution.
In contrast to that the directory `/etc/systemd/system/` is intended for local machine

[2017-08-01 14:36] softcraftsman opened #415 "ghost start doesn't work on Windows"
# Issue Summary

After working through the basic installation issues on installing on Windows using "ghost install local", I keep getting these errors when running "ghost start"

# Steps to Reproduce

Windows 10 using Administrator command prompt.
npm install ghost-cli -g
ghost install local
ghost start (as part of the install or afterwards)
Technical details:

C:\Ghost\ghost3>ghost install local

[2017-08-01 17:42] millerone commented on #192
I'm getting the same error message but i'm on Win 10 (surface laptop) using ghost-cli version 1.0.3
Is there an easy way to fix it?
Thanks!

[2017-08-02 02:56] crunchprank commented on #400
Unfortunately I will be out of town until next week but I will try as soon as possible to attempt this solution, as I know you don't want Issues sitting around with no activity.

[2017-08-02 04:08] tmack8001 commented on #192
Here is the contents of my error log.

[code]

[2017-08-02 12:05] ErisDS opened #416 "Use sslemail if already present in .ghost-cli"
If I run `ghost setup nginx ssl` or `ghost setup ssl` and there is already an email in .ghost-ci, please can we use this?

IMO if I explicitly provide --sslemail= with that command, it should update the record in .ghost-cli and use that instead, i.e. be an override.

Sorry if this is already tracked somewhere.

[2017-08-02 12:10] acburdine commented on #416
Per the refactor to let Acme deal with SSL renewal, we don't actually store the emails in `.ghost-cli` anymore (the only reason we did in the first place is to make renewal work)

Am willing to bring saving the email back if it's wanted though.

[2017-08-02 12:32] ErisDS commented on #416
I think acme.sh removed their storage of the email address as well? Can close this for now and revisit if more people ask for it :)

[2017-08-02 13:20] Magentaize opened #417 "[Bug Report] Cannot use UNIX socket via ghost start"
I'm using nginx in CentOS, if I use `NODE_ENV=production node current/index.js` to start ghost, all things work properly, but if I use `ghost start` to start ghost, I cannot access my site and nginx says it cannot connect to socket (using the same config file).

nginx log:
[error] 146151#146151: *720369 connect() to unix:/home/wwwroot/magentaize.net/blog/ghost.sock failed (111: Connection refused)

[2017-08-02 13:43] #416 closed

[2017-08-02 14:34] tmack8001 commented on #192
understanding that I'm on a unsupported platform, but I like others have been using my raspberry pi for hosting ghost at home for years so would like to see / help get this working with 1.0.x releases again

attempting to install ghost via yarn directly bypassing the ghost-cli gives me the same/similar error

[2017-08-02 15:26] darrenmhill opened #418 "Error upgrading from 1.3.0 to 1.4.0 (cli v 1.0.3)"
Details below:

✖ Running database migrations
An error occurred.
Message: 'Command failed: /bin/sh -c sudo -E -u ghost /usr/local/share/.config/yarn/global/node_modules/ghost-cli/node_modules/.bin/knex-migrator-migrate --init --mgpath /var/www/ghost/current
[2017-08-02 11:14:16] ERROR

NAME: InternalServerError
CODE: ECONNREFUSED
MESSAGE: The server has encountered an error.

level:normal

Interna

[2017-08-02 15:27] darrenmhill opened #419 "Error upgrading from 1.3.0 to 1.4.0"
Details below:

✖ Running database migrations
An error occurred.
Message: 'Command failed: /bin/sh -c sudo -E -u ghost /usr/local/share/.config/yarn/global/node_modules/ghost-cli/node_modules/.bin/knex-migrator-migrate --init --mgpath /var/www/ghost/current
[2017-08-02 11:14:16] ERROR

NAME: InternalServerError
CODE: ECONNREFUSED
MESSAGE: The server has encountered an error.

level:normal

Interna

[2017-08-02 15:35] ErisDS commented on #419
Duplicate of #418

[2017-08-02 15:35] #419 closed

[2017-08-02 15:36] acburdine commented on #419
Closing as a duplicate of #418

[2017-08-02 15:44] acburdine commented on #192
@tmack8001 your error looks different than the original error for this issue. It looks like something in your Yarn cache might be corrupted. My suggestion is to try clearing your yarn cache (`ghost buster` is a convenient alias for this 😛 ) and installing again to see if that fixes it.

[2017-08-02 16:53] peterhuene commented on #204
@acburdine I haven't had a chance to give it a try, but I will soon.  I'll close this out for now and I'll reopen if I run into any issues.

Thanks very much!

[2017-08-02 16:53] #204 closed

[2017-08-02 17:23] acburdine commented on #418
@darrenmhill This error seems to be occurring because ghost can't connect to the mysql server - are you sure your mysql server is running?

[2017-08-02 17:26] acburdine commented on #417
This is an error I've not seen before :/ Just to make sure I understand correctly - your nginx config is the same as the CLI auto-generates? I've never seen Nginx try to connect to Ghost over a socket before - normally it's just configured to connect via reverse-proxy.

[2017-08-02 17:27] acburdine commented on #415
@softcraftsman would you mind running `ghost run --development` and let me know what the output of that is?

[2017-08-02 17:50] softcraftsman commented on #415
That did successfully start the blog while displaying output in the console window.

Regards,

John Brown
Tritium Consulting, Inc.

From: Austin Burdine
Sent: Wednesday, August 2, 2017 1:27 PM
To: TryGhost/Ghost-CLI
Cc: John Brown; Mention
Subject: Re: [TryGhost/Ghost-CLI] ghost start doesn't work on Windows (#415)

@softcraftsman would you mind running ghost run --development and let me know what

[2017-08-02 19:09] SparkyDoosan commented on #400
Today I got the same error as OP. whether installing local or not, using Ghost-CLI 1.0.3 with `ghost install --no-setup-linux-user` ... I'm on a shared hosting plan so need that flag. Also I could mention, I'm using nvm.

[2017-08-02 19:41] acburdine commented on #400
Ah ok - I think I actually might have a better idea of what's causing this. I'll look into it more tonight.

[2017-08-02 20:26] lexpierce opened #421 "Nodemailer "sendmail" transport is case sensitive: change in behavior"
https://github.com/nodemailer/nodemailer/tree/0.7#setting-up-sendmail

As you can see, they use an all lowercase "sendmail" in the definition.  I have used this for all my ghost installs until I moved to 1.0.0 release (1.0.3 specifically). Apparently Ghost-CLI now does validation that expects "Sendmail" and rejects "sendmail".  There is nothing on the nodemailer github page that dictates case, and

[2017-08-03 00:23] Anveio commented on #418
Had the exact same issue. Running `sudo ghost upgrade --force` [as per the docs](https://docs.ghost.org/docs/upgrade#section-what-to-do-when-an-upgrade-fails) fully resolved the issue for me.

[2017-08-03 00:55] acburdine commented on #400
Figured out what the issue was 😅 PR incoming.

[2017-08-03 01:03] #400 closed

[2017-08-03 03:46] Magentaize commented on #417
Thanks for your reply -P
My nginx config is not as the same as the CLI auto-generates,  I use socket as a upstream in nginx as the saying goes in docs.ghost.org

"server": {
    "socket": "path/to/socket.sock"
}

[2017-08-03 05:02] tmack8001 commented on #192
After going through my running process list and issuing a ```kill -9 <>``` on non pertinent stuff that was taking up system memory (my webserver, mysql, python, java, etc) I was able to successfully get a ghost installation and setup completed.

From talking with @acburdine today we believe the above error log I posted was from a follow on installation after a OOM issue with yarn which then had a

[2017-08-03 06:01] ErisDS commented on #417
@Magentaize can you please also provide your nginx config? No one can reproduce what you're seeing if you don't provide the key information about how you got it.

As this is a non-recommended setup (CentOS, sockets, etc) it's low priority for us, therefore if you want to see a fix, you need to be more forthcoming & helpful.

[2017-08-03 06:01] ErisDS commented on #417
@Magentaize can you please also provide your nginx config? No one can reproduce what you're seeing if you don't provide the key information about how you got it.

As this is a non-recommended setup (CentOS, sockets, etc) it's low priority for us, therefore if you want to see a fix, you need to be more forthcoming & helpful.

[2017-08-03 07:25] ErisDS opened #423 "ghost install local with specific version"
This use case only occurred to me today as we broke local installs of 1.4.0 in Ghost.

It currently doesn't seem to be possible to force a local install to a particular version.

None of these seem to work as expected, the `--version` and `--local` flags are ignored.

`ghost install local 1.3.0`
`ghost install --local --version=1.3.0`
`ghost install local --version=1.3.0`

[2017-08-03 07:46] millerone commented on #192
I can confirm that  the command 'yarn cache clean' solved the problem.
Now it works like a charm.
Thanks

[2017-08-03 11:08] theDustRoom opened #425 "Admin broken after upgrading from 1.1.0 to 1.4.0 (cli v 1.0.3)"
### This issue is a

* [x] Bug Report

### Summary

If this is a bug, double-check and make sure there's not already an existing issue for it, then provide a quick summary of what error is occurring.

If this is a feature request, use this section to describe what feature you would like to see in the CLI, as well as a quick summary of any benefits or drawbacks you can think of if this feature is i

[2017-08-03 11:15] kirrg001 commented on #425
Hey 👋

Thanks for your report and sorry you are having trouble.

This is a known issue and it was reported [here](https://github.com/TryGhost/Ghost/issues/8829). It was already fixed in Ghost master and we are going to release a new version in the afternoon.

A workaround was posted [here](https://github.com/TryGhost/Ghost/issues/8829#issuecomment-319807736).

Closing.

[2017-08-03 11:15] #425 closed

[2017-08-03 11:17] ErisDS commented on #425
Note: this issue only occurs to blogs running in development mode

[2017-08-03 11:56] acburdine commented on #423
The only real way to get it to work at the moment is `ghost install 1.3.0 --local --db sqlite3 --no-setup-linux-user --no-stack`. Obviously that isn't the best solution - will update so that `ghost install 1.3.0 --local` works as a solution for this.

[2017-08-03 11:59] acburdine commented on #201
5 sounds like a good idea. Might add the option to disable cleaning up old versions in the `.ghost-cli` file - e.g. if "keepOldVersions" is true, keep all.

[2017-08-03 13:30] Magentaize commented on #417
@ErisDS Ok, sorry, it's my fault.

My nginx config:
[code]

And my ghost config:
[code]

[2017-08-03 22:59] #423 closed

[2017-08-03 23:47] joehand opened #428 "Print ghost help information faster"
### This issue is a

* [ ] Bug Report
* [x] Feature Request

### Summary

Running `ghost` or `ghost help` is quite slow to print out the information. It'd be great if it printed out quicker.

#### Requests

* Improve speed of `ghost help` & `ghost`
* Have `ghost` with no arguments print out the help information.

On my server, `ghost help` takes over 4 seconds to print out information:

[code]

I

[2017-08-04 00:22] acburdine commented on #428
Hey @joehand! So here's a couple of things:

1) We already only require individual commands if they're run - ghost help is actually the _only_ command that requires all of them.
2) Depending on the size of your global node_modules folder, command discovery can actually be slower than requiring. Ghost-CLI doesn't necessarily know about all of the commands initially, as there is support for extensio

[2017-08-04 01:05] joehand commented on #428
Sweet! It does seem the server is a bit slow. The command was much faster on my local machine.

It looks like there is a lot of time happening before the first debug statement prints (see total time vs each individual timestamp), so hopefully the lazy loading will help. Here output from the debug on my server:

<details>
[code]
</details>

[2017-08-04 01:08] acburdine commented on #428
Yeah - I did implement lazy-loading as much as I could in the commands 😁

I'm gonna go ahead and close this by #429 - I had originally considered leaving it open to implement printing out help info if ghost is run without args - but I think I'm more in favor of `ghost help` being more intentional.

[2017-08-04 01:08] #428 closed

[2017-08-04 01:57] acburdine commented on #414
@mlewe Not sure if you know a better solution for this - I was testing putting the file in /etc/systemd/system and got a "too many links" error when I tried to run `systemctl enable <ghost service>`. It works if I put them in `/lib/systemd/system` though 😕

[2017-08-04 06:15] jloh opened #430 "ghost update fails to restart"
Second time I've run into this one (originally thought it'd be fixed in the latest version of Ghost CLI) however it seems it fails to restart my ghost install after upgrading it. Restarting it again with `systemd` works fine however.

[code]

I'm using Ubuntu 16.04. It looks like the cli can't see the current running ghost instance?

I have two installs currently on this machine, a ghost-cli one a

[2017-08-04 06:16] ErisDS commented on #414
The document that @mlewe linked to doesn't even list `/lib/systemd/system` as an option, rather:

[code]

The [ubuntu docs](http://manpages.ubuntu.com/manpages/zesty/man1/systemd.1.html#contenttoc5) list  `/usr/lib/systemd/system` and `/lib/systemd/system`.

I've seen reports that enable isn't working on Debian because /lib/systemd/system is the wrong place and it should be in /etc/, but the [debi

[2017-08-04 06:45] ErisDS commented on #201
I wouldn't add that unless it gets requested by people after the cleanup is in place. More options are just more maintenance overhead.

[2017-08-04 10:17] mlewe commented on #414
I tried to reproduce that by creating a unit file `example.service` and linking it symbolically to
`/lib/system/systemd/` as well as `/etc/system/systemd/`.
In both cases this leads to the error message
`Failed to execute operation: Too many levels of symbolic links` on xenial and
`Failed to enable unit: Refusing to operate on linked unit file example.service` on zesty.
Honestly I don't understand

[2017-08-04 12:06] acburdine commented on #414
Whoops didn't realize that the PR would close it 😬

[2017-08-04 15:15] the4dpatrick commented on #396
Is there a workaround in the meantime while this is being worked on? I'm currently blocked installing Ghost on a fresh EC2 instance because of this error. Below is my error log in case it helps.

Ghost-CLI: 1.0.3
Ubuntu 16.04.2 LTS
Mysql-server:  5.7.19-0ubuntu0.16.04.1

<details>
<summary>Error Log</summary>
<pre>
/var/www/ghost/current$ /usr/lib/node_modules/ghost-cli/node_modules/.bin/knex-migr

[2017-08-04 15:18] acburdine commented on #396
@the4dpatrick the workaround at the moment is to create the specific user yourself, and then use _that_ user for your mysql config rather than root. If the user is _not_ root, Ghost won't attempt to create a user itself.

FWIW though, definitely aiming to fix this in the next version.

[2017-08-04 15:30] the4dpatrick commented on #396
Thanks for the response. I actually got it to work by running the follow:

Open terminal and login:

[code]
(you can access with other users as well)

After that::
[code]

And the very last important thing is to reset mysql service:
[code]

---

This suffices for me for now, but it is good to know that this will be fixed in the next version.

[2017-08-04 23:03] PhoenixPeca opened #431 "Ghost having stopped status while running after machine reboot"
This happens to me after **I executed `ghost stop` in my ghost install folder** and **rebooted my machine**.

Steps:
* I have executed `ghost stop`

* Then I have executed `reboot`

* After the machine boots up and after a few seconds, I tried to access the domain and the **site loads**. 😕

* Then I have executed `ghost ls` and I found this:
![image](https://user-images.githubusercontent.com/97302

[2017-08-05 14:42] ErisDS opened #432 "Improvements / changes for `ghost log`"
The `ghost log` command is a really great idea to make interfacing with the bunyan logs easier, however I think the current behaviour is a bit confusing.

Currently, `ghost log` seems to only output the access log. The problem with this is that most people, when accessing their logs, need the error log. Especially in terms of us trying to debug various people's issues, I want the output of `ghost

[2017-08-05 14:46] ErisDS commented on #265
I've just experienced this same issue with `ghost config --mail=x`, so using flags rather than key-value.

[2017-08-05 16:11] #421 closed

[2017-08-05 16:12] #281 closed

[2017-08-06 06:22] maks123 opened #433 "Reinstall ghost via cli"
I'm having problems with reinstalling Ghost via CLI
My actions:
1. installing ghost with mysql database dbhome_db and user dbhome_user. Everything worked.
2. I decided to reinstall ghost with new parameters: db:  dbh_prod_db, user: dbh_user (used ghost uninstall before install)
The installation with migration passed without errors.
But when you open the site there is an error
500
ER_DBACCESS_DENIE

[2017-08-06 15:17] acburdine commented on #431
So I know what causes this - need to think a bit on how exactly to resolve it.

The reason this occurs is because Ghost-CLI puts a little "running" property in the `.ghost-cli` file whenever it's started -> this is used so that the CLI can determine what environment Ghost is running in (e.g. dev/prod). What's happening is that `ghost stop` is removing that `running` property from the `.ghost-cli`

[2017-08-06 15:18] acburdine commented on #430
Just out of curiosity -> before you ran `ghost update` do you know if `ghost ls` showed whether or not Ghost was running?

[2017-08-06 15:21] acburdine commented on #430
I could see this happening (related to #431) if you rebooted your machine and then ran `ghost update` sometime after that. The above log is showing that update didn't try to stop ghost before re-linking things, which makes me think that's what's happening.

[2017-08-06 23:16] acburdine commented on #396
ok so we now have a way to do this in-query, which I will release in the next CLI version:

[code]

relevant mysql docs: https://dev.mysql.com/doc/refman/5.6/en/create-user.html

[2017-08-07 00:07] Dygear commented on #378
## Install Process

[code]

## Results
**502 Bad Gateway**

[code]

## From the Journal

[code]

[2017-08-07 05:06] prashanthmadi opened #434 "Setting mysql database details using connection string"
Can we set ghost config using connection string instead of providing all details manually as in https://docs.ghost.org/v1.0.0/docs/cli-config

https://github.com/TryGhost/Ghost/issues/4021

* OS: All
* Node Version: All
* Ghost-CLI Version: 1.0.3
* Command: ghost config

[2017-08-07 07:17] jloh commented on #430
@acburdine yeah I'm pretty sure I did kernel updates (and thus reboots) between the installation and reproducing this issue for the second time.

I believe I've also generally restarted/started Ghost via the systemd command as opposed to using the ghost cli utility (primarily just using it for updates and installations.

[2017-08-07 20:05] prashanthmadi commented on #434
Can I use below, would it work ?

[2017-08-08 00:06] acburdine commented on #378
@Dygear I think you're running a really old version of ghost-cli - the output looks like it's from one of the alphas. Make sure you update to the latest version 😁

[2017-08-08 21:45] Blindmikey commented on #388
Running into this issue.

[2017-08-09 12:46] fahy opened #435 "ghost-cli throwing errors when attempting to interface with a blog"
### Summary

OK, so I encountered the same error as #354 last night.

[code]

When I do `ghost start`, ghost ls` or something similar, it will always return the above error.
On other blogs that I have installed (Note, I have 4 installed), I can only `ghost start` them but nothing more than that.

I can `ghost install` in a new directory but trying to interface with it afterwards throws the above e

[2017-08-11 03:00] ittus opened #436 "Ghost Cli throw error `Config file is not valid JSON`"
### This issue is a

* [x] Bug Report

### Summary

Ghost doctor throw `Config file is not valid JSON`, while `config.production.json` is valid
[code]

### Steps to Reproduce (for a bug report)

1. Install ghost 1.5.2 in /var/www/ghost
2. Run ghost in production mode
3. Run `ghost doctor startup`
4. Receive error:
[code]

### Technical details (will be automatically output by Ghost-CLI if an error

[2017-08-11 13:11] SparkyDoosan opened #437 "Cannot install using `no-setup-linux-user` (and nvm)"
### This issue is a

* [ x] Bug Report
* [ ] Feature Request

### Summary

Ghost install (local or production) fails with error "→ id: ghost: No such user".

Debug Information:
    Node Version: v6.11.1
    Ghost-CLI Version: 1.0.3
    Environment: development
    Command: 'ghost install local --no-setup-linux-user -V'

$ nvm ls
->      v6.11.1
         system
node -> stable (-> v6.11.1) (default)

[2017-08-11 13:16] acburdine commented on #437
Closing as a duplicate of #400 - a fix will be released in the next version.

[2017-08-11 13:16] #437 closed

[2017-08-11 13:18] acburdine commented on #436
@ittus does this occur on `ghost start`, or just when you run `ghost doctor startup`?

[2017-08-11 15:38] acburdine commented on #436
Can confirm.

[2017-08-11 15:40] acburdine commented on #435
Will look at this today - my guess is Debian's version of systemd returns a different response for `systemd is-enabled ghost_service`

[2017-08-11 15:46] acburdine commented on #433
Hmm...it seems like the config values didn't get set correctly during install.

Can you double check and make sure that the value for your database name in `config.production.json` is correct?

[2017-08-11 16:35] maks123 commented on #433
Hi.
My config:
![image](https://user-images.githubusercontent.com/506071/29222662-416e89ec-7ee5-11e7-8450-11129c7b165d.png)

[2017-08-11 17:23] acburdine commented on #433
Hmm... can you try running these commands for me?
1. `ghost stop`
2. `ghost setup migrate`
3. `ghost start`

and see if that fixes your issue?

[2017-08-11 20:12] #436 closed

[2017-08-11 23:49] #396 closed

[2017-08-12 04:19] Dygear commented on #378
@acburdine

[code]

Looks like you are right. But that's what I __just__ installed from the ghost website when I attempted this whole process a few days ago.

[2017-08-12 05:15] acburdine commented on #378
@Dygear most likely you've got two node versions installed (normally this happens if you install nvm to change node versions) and the old version of the CLI (the one installed by the original system version of node) is the one that's being picked up. Feel free to swing by our [slack channel](https://slack.ghost.org) and we can try and help there 😄

[2017-08-12 11:49] ittus commented on #436
Just `ghost doctor startup`, `ghost start` works fine

[2017-08-12 12:52] FrankV01 opened #442 "Cannot find module '[...]/node_sqlite3.node'"
## Bug Report

### Summary

Attempting to `ghost install --db=sqlite3` into what I'll call a staging server. It's a fresh install of Ubuntu 16.04 LTS; no domain associated -- I'm using the IP Address as the url. On the server, I've only installed updates, node, and build-essentials on it. Very sparse. (I also updated npm). Towards the end of the install I get the following:

[code]

### Steps to R

[2017-08-12 13:18] ErisDS commented on #442
Can you please provide the output of:
- npm -v
- npm root -g
- npm bin -g

I'm not sure what's causing this, but my first guess is the upgrade to npm, as that's the place where your setup deviates from the [install guide](https://docs.ghost.org/docs/install).

[2017-08-12 13:54] FrankV01 commented on #442
Results of the queries.

[code]

[2017-08-12 14:13] ErisDS commented on #442
Nothing obvious there.

What's inside`/usr/lib/node_modules/ghost-cli/node_modules/sqlite3/lib/binding`?

Only other thing I can think of here is permissions. As you did `npm install -g ghost-cli` without sudo, it seems you maybe ran it as root? Our install guide recommends creating a non-root user & installing ghost-cli using sudo.

The interactions between your node version, permissions and sqli

[2017-08-12 14:22] acburdine commented on #442
FWIW - when I've done Ubuntu testing before I was never able to get sqlite3 to properly install with Ghost-CLI and npm 5. I always had to install Python first. Npm3 never gave me any issues.

Not sure what changed but it's likely something with node-gyp or how npm5 runs scripts differently than npm3.

[2017-08-12 20:23] aniforprez commented on #378
Ok instead of installing node through homebrew I completely uninstalled node and all my packages and reinstalled with instructions from the node site using the LTS release and now everything works fine. But can I not use nvm or something to install multiple versions of node to switch the the latest version when needed? Will I always have this issue if I try anything else?

[2017-08-12 20:46] FrankV01 commented on #442
The `binding` folder doesn't exist. I've listed the contents of the folder prior below along with their owner.  Indeed, I did originally install ghost-cli as root but had re-tried to install it on the sudo user. however, without `sudo`, no global node modules will install.

I'm assuming my installation of node (globally) is bad or somehow incorrect? That I should be able to install npm packages gl

[2017-08-12 21:16] acburdine commented on #378
@aniforprez if you're installing via `ghost install local` it doesn't matter - as long as the nvm version is the version you installed Ghost-CLI with. Or in better words, you installed ghost-cli _after_ installing nvm and installing a supported node version using nvm. If you switched versions later (using `nvm i <new version>` and `nvm use <new version>`) you would then need to install ghost-cli a

[2017-08-12 21:24] FrankV01 commented on #442
@ErisDS I've fixed it on my system. It was a permissions issue or at least that is what solved it.

What I did -- and I have no idea if this is proper -- is change the permissions recursively on the `/usr/lib/node_modules` folder. I gave the whole directory tree read/write/execute...  After this, I removed the ghost cli with `npm uninstall` and reinstalled it without sudo. I then ran the basic `gh

[2017-08-12 21:47] #201 closed

[2017-08-12 21:49] aniforprez commented on #378
Ah cool I tried doing this with my earlier node installation but I guess there's something wrong with how brew installs node and nvm which is quite different from the official installer which causes it to not work properly. Doing this process now works without any hitches so I guess my lesson is don't install node through Homebrew for now

[2017-08-13 05:10] tmack8001 commented on #435
I'm getting a similar error on my raspbian setup (another non supported installation stack).

[2017-08-13 05:39] constantx commented on #415
I ran into the same issue, ran `ghost run --development` and got this:

[code]

After installed knex-migrator, and ran `knex-migrator init`, got:
[code]

[2017-08-13 06:55] ErisDS commented on #415
As far as I'm aware from additional context on slack, this last comment was not running on Windows, and the first error was happening due to having swapped from sqlite3 to mysql without running `ghost setup migrate`.

[2017-08-14 03:30] vistaing opened #445 "Everything ok before I failed to upload images thanks to "EACCES: permission denied, mkdir...""
This time I try to migrate another blog of mine from 0.11.11 to 1.5.2 according to [guidelines](https://docs.ghost.org/docs/migrating-to-ghost-1-0-0) from official docs.

I successfully started new blog, imported text and images, but I just cannot upload new images in the editor. The error message says:

Try Again

It seems that I met some kind of authority problem but I cannot figure out what it

[2017-08-14 03:47] vikaspotluri123 commented on #445
Looks like an issue with the user running ghost and the ownership of the directory. Since this isn't an issue with the core (bug report / feature request), you should really use the [slack channel](https://slack.ghost.org/), as outlined by the [support documentation](https://github.com/TryGhost/Ghost/blob/master/.github/SUPPORT.md).

[2017-08-14 08:53] ErisDS commented on #445
I thought that this was already covered by the documentation, however it was missing from the migration guide.

I have added a note to the [migration guide](https://docs.ghost.org/docs/migrating-to-ghost-1-0-0#section-4-copy-your-images) to cover fixing ownership of the `content` folder after copying images.

I also added some clarity to a similar note in the [knowledge base](https://docs.ghost.or

[2017-08-14 08:53] #445 closed

[2017-08-14 14:32] darrenmhill commented on #418
Yes MySQL is running. The --force worked for me. I'm still running into similar issues all the way up to 1.5.2.

[2017-08-14 18:12] JohnONolan opened #446 "Install loading state"
Is a loading bar / static loading line possible? Cause this is a little crazy :)
![image](https://user-images.githubusercontent.com/120485/29284896-746fcdce-8124-11e7-8cfd-314ad990c65f.png)

[2017-08-14 18:17] acburdine commented on #446
@JohnONolan a bar isn't super possible as it depends on several different tasks running - makes it pretty complex to implement.

The reason this is occurring is because your terminal width is too short - I'll see if I can't find a better way to avoid this issue in the future.

[2017-08-15 14:07] yaccin commented on #431
I think the issue rather is that systemd can't enable the ghost services because they are links:

systemctl enable ghost-blog.service Failed to execute operation: Too many levels of symbolic links

https://github.com/systemd/systemd/issues/3010

[2017-08-15 14:40] acburdine commented on #431
@yaccin that is a separate issue - enabling _should_ work fine on Ubuntu 16

[2017-08-15 14:58] yaccin commented on #431
I am on 16.04 and i can't enable the services. In addition, after the restart (kernel update) i now am also getting

Failed to start ghost_geeks-lgbt.service: Unit ghost_geeks-lgbt.service not found.
✖ Starting Ghost
A ProcessError occurred.

Error occurred running command: '/bin/sh -c sudo systemctl start ghost_geeks-lgbt'

Exit code: 5

Debug Information:
    Node Version: v6.11.2
    Ghost-CLI

[2017-08-15 19:57] Mohitsharma44 opened #447 "Installing v1.1.0 throws `two version of Node` error"
### This issue is a

* [ x ] Bug Report

### Summary

Tried installing v1.1.0 in a vagrant environment using nvm and node v6.11.2 today and causes the following error:
[code]

### Steps to Reproduce

1. Install nvm and source it (based on readme instructions here: https://github.com/creationix/nvm)
1. `nvm install v6.11.2`
2. symlink the node executable to `/usr/local/bin`
3. `npm install -g sqlit

[2017-08-15 20:09] Mohitsharma44 commented on #447
This is the error output when I run the play:
[code]

[2017-08-15 20:27] acburdine commented on #447
@Mohitsharma44 so the reason this is failing is because you are symlinking the ghost executable into the system bin dir - so in essence while you don't have two versions of node installed on your system, the CLI thinks you do because `npm bin -g` returns `~/.nvm/versions/<version>/bin`, and running ghost shows up as `/usr/local/bin/ghost`.

Also - why are you running `ghost install local` for inst

[2017-08-15 20:30] acburdine commented on #447
The two ways I think you could solve this issue are:

1) don't link the ghost executable into the system bin dir
2) install nvm globally (you can follow [this tutorial](http://www.marcominetti.net/personal/blog/2015/09/install-system-wide-node-js-with-nvm-the-painless-way))

[2017-08-15 20:44] Mohitsharma44 commented on #447
@acburdine Ahhaa... The reason you mentioned makes sense. I'll probably try installing nvm globally (but that would mean installing any npm package globally requires `root` privileges). Is there any reason why you chose to not use local npm version?

About why I'm using locally, it's just for testing...

[2017-08-15 20:51] acburdine commented on #447
@Mohitsharma44 the reason for that is ghost creates a specific ghost user with which to run ghost. If you install nvm locally (e.g. in `~/.nvm`), there is a very real (e.g. has happened several times) possibility that the created ghost user won't be able to run ghost because the home folder doesn't allow read permissions for everyone on the filesystem.

Going to close this issue for now - if more

[2017-08-15 20:51] #447 closed

[2017-08-16 20:25] SparkyDoosan commented on #447
FWIW my environment is installed correctly but the NPM path includes a network path my host uses to affect backups.

   $ which ghost
   /home3/r/me/.nvm/versions/node/v6.11.1/bin/ghost
   $ npm root -g
   /nfs/home3/home3/r/me/.nvm/versions/node/v6.11.1/lib/node_modules

Given these are the exact same version, I felt good employing a workaround:

   export PATH=/nfs/home3/home3/r/me/.nvm/versions

[2017-08-16 21:23] rodrigosaling commented on #405
WebFaction one-click installer now installs Ghost 1.5.1 with support to ghost-cli. I am already using it and did the update to version 1.6.0 using the command line. References: https://community.webfaction.com/questions/21130/installing-ghost-10-or-above-and-updating-it and https://community.webfaction.com/questions/21122/how-should-i-upgrade-ghost-v-1x-to-newest-version

[2017-08-17 05:02] issmirnov opened #449 "Unable to upgrade without stopping service manually"
### This issue is a

* [X] Bug Report
* [ ] Feature Request

### Summary

Running `ghost update` will fail with a `ConfigError`:

[code]

I have to manually stop the ghost service, update, then restart the service.

### Steps to Reproduce

1. Install ghost as per official instructions
2. Set up systemd script (I'm running ubutnu 16.04.03 LTS)
3. Launch the service
4. Run `ghost update`

In my opin

[2017-08-17 08:09] ErisDS opened #450 "`ghost install` not migrating DB"
## This issue is a

* [x] Bug Report
* [ ] Feature Request

A couple of times I've seen users report that running `ghost install` leaves them without a DB.

### Steps to Reproduce (for a bug report)

1. `ghost install`

I'm not sure of the surrounding factors yet. One customer reported this after the SSL step failed due to their domain not being configured yet. Not sure if that could cause the DB

[2017-08-17 10:33] TomChantler opened #451 "ghost install fails when installing third blog with no port number specified"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

When you use `ghost install` and specify the blog url without a port number, BASE_PORT is treated as a string so that, by the third blog instance, it fails as it has tried ports: 2368, 23681, 2

[2017-08-17 12:44] acburdine commented on #450
So the reason this is occurring is because if the SSL setup fails, it exits the setup process.

There are two different solutions that I think we could do to fix this.

1) Make any issues with SSL _not_ exit - this is related to #190 as improved pre-ssl generation checks will cause SSL to skip generation and warn with a "run 'ghost setup ssl' once you've fixed your domain"
2) Recommend that people

[2017-08-17 12:48] acburdine commented on #449
@issmirnov just out of curiosity, are you running the ghost service manually via `systemctl start ghost_<service>.service`?

There is currently another open issue (#431) that deals with a similar problem - if you run the ghost service manually and _not_ with `ghost start` then there is no way for Ghost-CLI to know whether or not the instance is currently running - thus causing the problems you're

[2017-08-17 14:54] #451 closed

[2017-08-17 19:28] TomChantler opened #453 "ghost install default database name causes installations to share a database instance"
### This issue is a

* [x] Bug Report
* [x] Feature Request

### Summary

If you run `ghost install` (to do a production installation) then it prompts you to create a mysql database called `ghost_production`.

If you run another installation, it also suggests the same database name. When I accepted the default twice in a row, I ended up with two blog installations sharing the same database and cha

[2017-08-17 19:33] acburdine commented on #453
Sounds like a good solution 👍  care to make another PR for it?

[2017-08-17 20:17] #453 closed

[2017-08-18 08:05] linsyorozuya commented on #430
I'm also having exactly the same issue.....
![b51d59fd-898d-4083-b215-a4f11d58de24](https://user-images.githubusercontent.com/4980617/29449866-01e1e504-842f-11e7-87e4-0eebe94cf192.png)

[2017-08-19 15:05] Hiobi opened #456 "Can't install in production only in local"
### This issue is a

* [X] Bug Report

### Summary

The command `ghost install` return the following errors, that doesn't appear in local install.

### Steps to Reproduce (for a bug report)

1. command: `ghost install` for production

Logs: https://gist.github.com/Hiobi/21d7c8ae1439fcfb05544fe61465afba

### Technical details (will be automatically output by Ghost-CLI if an error occurs):

* OS: De

[2017-08-19 15:13] ErisDS commented on #456
ECONNREFUSED 127.0.0.1:3306

This is telling you that it cannot connect to your MySQL server. I have added an explanation and recovery steps to the [troubleshooting guide](https://docs.ghost.org/v1/docs/troubleshooting#section-error-connect-econnrefused-127-0-0-1-3306).

[2017-08-19 15:13] #456 closed

[2017-08-19 15:21] SparkyDoosan opened #457 "Request: logging without special characters"
* [X ] Feature Request

### Summary

Called from a (crontab) shell script, verbose logging provides details on the result of a command like `ghost start -V --no-prompt` but extra (ANSI?) characters clutter the log file:

`~\~T Starting Ghost`

The log would be easier to review if --no-prompt (or another switch) suppressed the extra characters.

### Steps to Reproduce (for a bug report)

#!/bin/bas

[2017-08-19 15:23] Hiobi commented on #456
Hi Hannah,
I already checked my MySQL connection, all seems ok. For proof, in "local installation" mode, it's works. the blog is online and I can access to it.

[2017-08-19 15:25] ErisDS commented on #457
I totally understand where you're coming from on this. As it's non-critical, it's unlikely to be prioritised by us, but it is 100% the kind of thing that we'd love to see PRs for 😁

[2017-08-19 15:40] ErisDS commented on #456
Local installs use sqlite3, not mysql, which is why you don't get errors from MySQL.

[2017-08-19 15:58] Hiobi commented on #456
oh ok ! In local, it's asking for MySQL infos  too, I was dubbed.
But my MySQL server run, it's accessible with the same credentials I use for Ghost installation.

[2017-08-19 16:07] Hiobi commented on #456
oh ok ! In local, it's asking for MySQL infos  too, I was dubbed.
But my MySQL server run, it's accessible with the same credentials I use for Ghost installation.

[2017-08-19 18:13] maks123 commented on #433
Hi.

[code]
The problem was not fixed.

[2017-08-19 19:39] SixBytesUnder commented on #282
Hi
I have CentOS 7 with nginx/1.10.2 installed but while installing Ghost I get:

Since I'm on CentOS I obviously don't have `dpkg`. Will you add a different way of detecting if nginx exists on the server?

[2017-08-20 04:47] aboutte opened #458 "--dbpass not being escaped properly"
ghost command used:

[code]

[code]

The semicolon in the password is being interpreted by MySQL which is causing authentication to MySQL to fail.

[2017-08-20 18:10] fahy commented on #435
Right after playing with this, breaking it and unbreaking it and screaming "WTF" about a million times, I have "rednecked" this to get it working.

First of all, make sure ALL the files are owned by `ghost:ghost` (including the hidden `.ghost-cli` file)
Secondly, check that `.ghost-cli` and adjust the cli version to the version that you have installed (In my case it was `1.1.1`)

Now, it may not b

[2017-08-21 09:42] CyberStrike opened #459 "Unable to install with DS_Store on OSX"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

Unable to install in a `"empty"` directory on OSX.

[code]

### Steps to Reproduce (for a bug report)

1. Create a folder and wait a few minutes or access it using finder. OSX will createa .DS_Store file.
2. `ghost install local`

Installer should ignore .DS_Store files for system OSX.

### Technical details (will be automat

[2017-08-21 19:09] acburdine commented on #458
Hey @aboutte, this is not actually a Ghost-CLI issue; rather, it's an issue with your Bash usage.

Semicolons in Bash are treated as the end of a command - whatever is after the semicolon is run as a separate command. You can see this at the end of the log - as it shows the rest of the password after the semicolon with a "command does not exist" error. To fix this put your database password in quo

[2017-08-21 19:09] #458 closed

[2017-08-21 19:15] acburdine commented on #459
So the only time a .DS_Store file is created is if you access it via Finder - it caches the thumbnails for all the items in the directory. Windows has a similar Thumbs.db file.

I'm hesitant to special-case that file though - I'm not sure if .DS_Store and Thumbs.db are the only two system-level files or if there are more that would have to be added to the check.

A fix is to remove that .DS_Store

[2017-08-21 19:16] acburdine commented on #459
Gonna close this as a wontfix for now - if enough people have this issue then we can reopen.

[2017-08-21 19:16] #459 closed

[2017-08-21 19:19] acburdine commented on #282
@sixbytesunder does `which nginx` return anything?

As stated in the issue - there is a proposed switch from dpkg to `which nginx` - just need to make sure it works on non-Debian/ubuntu systems.

[2017-08-21 19:24] SixBytesUnder commented on #282
`which nginx` on my CentOS 7.3.1611  (Core) returns
`/usr/sbin/nginx`
On my old server with CentOS 6.9 (Final) returns also
`/usr/sbin/nginx`

Hope that helps

[2017-08-22 03:09] xolee opened #460 "Missing package(s): nginx and Local MySQL install not found"
hi, my host have installed nginx and mysql，how to config nginx and mysql directory?

[code]

[2017-08-22 20:32] virtmann opened #461 "Ghost CLI does not seem to realize that my ghost instance is running"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

Ghost CLI does not seem to realize that my ghost instance is running.  Running "ghost status" shows the instance as stopped when it is indeed running.

### Steps to Reproduce (for a bug report)

When running "ghost restart" I get an error that the Ghost instance is not currently running.  I can confirm that the ghost instanc

[2017-08-23 10:23] TomChantler commented on #461
This is related to issue #431

[2017-08-23 10:39] acburdine commented on #461
@virtmann @TomChantler is correct in that it is likely a duplicate of #431 -> was there a server reboot at some point before running restart?

[2017-08-23 13:52] virtmann commented on #461
@TomChantler - Most likely, yes.  I have moved on and rebuilt the box cleanly with ghost-cli 1.1.1 and ghost 1.7.0.  I have not seen any issues yet after the rebuild.  I have the old VM still if there is anything you want me to test.

[2017-08-23 22:28] alznyc commented on #430
Has anyone figured out a solution to this. I'm having the same issue.

Ghost update will quit at Validating config

A ConfigError occurred.

Error detected in the production configuration.

Message: Port '2369' is in use.
Configuration Key(s): server.port
Current Value(s): 2369

Help: Run `ghost config <key> <new value>` for each key to fix the issue.

Debug Information:
    Node Version: v6.9.1

[2017-08-23 23:22] dinosaw commented on #388
I know this is tagged as investigating but it is also closed. Are there any plans on implementing a way around this? My setup is similar to OP as well.

[2017-08-23 23:46] crunchprank commented on #388
@dinosaw I don't know if this is a "solution" or whether or not the Ghost team recommends this being used in a production environment, but I recently saw a comment in #405 (https://github.com/TryGhost/Ghost-CLI/pull/409) where @acburdine added the following option when installing: `--no-setup-linux-user`. I played around with using this and it fixed the issues I was running into, though I haven't

[2017-08-24 08:53] hpohlmeyer opened #462 "Node 8 Support"
### This issue is a

* [ ] Bug Report
* [x] Feature Request

### Summary

`ghost install local` fails with this error:

[code]

Since Node 8 is the current version and the next LTS version, support for it would be nice.

### Steps to Reproduce (for a bug report)

1. Run `ghost install local`

### Technical details (will be automatically output by Ghost-CLI if an error occurs):

* Node Version: 8.4

[2017-08-24 08:57] sebgie commented on #462
Hey @hpohlmeyer! There is writeup about how Ghost handles Node versions: https://docs.ghost.org/v1.0.0/docs/supported-node-versions.

@acburdine Would it make sense to include the link in the error message? I'm not sure atm if it comes from Ghost-CLI or Ghost itself 🙈 .

[2017-08-24 09:09] hpohlmeyer commented on #462
@sebgie Ah okay, so Node 8 support will start in October.
Still, I am wondering why you wait for the LTS phase instead of supporting the current version. Are you waiting until it is feature-complete to minimize issues? Not a critique – just curious. :)

Regarding the error message: I think including a link would be nice.

[2017-08-24 09:39] kevinansfield commented on #462
@hpohlmeyer hopefully that is answered in that doc https://docs.ghost.org/v1.0.0/docs/supported-node-versions#section-why-follow-lts-

The link should already be there, perhaps it was just omitted from the copied error?
https://github.com/TryGhost/Ghost-CLI/blob/b34810580c6c14fa2b632501f7d100b581b42b8a/lib/commands/doctor/checks/install.js#L53-L57

Closing this because Node.js 8 support will be ad

[2017-08-24 09:39] #462 closed

[2017-08-24 15:12] TomChantler commented on #357
Do you think that it should show all running instances to which the calling user has access? What I mean is, should `ghost ls` run as `root` show everything? Whereas `ghost ls` run as somebody with insufficient permissions would say `There are these instances which may or may not be running: foldername, foldername2, etc` or even `sorry dude, I have no access to anything. Try running as a ghost use

[2017-08-24 15:20] acburdine commented on #357
My thought for a fix on this issue:

1. If on windows, do nothing (no easy way to accomplish this on windows that I know of)
2. If on mac/linux and `ghost ls` is run inside a ghost install directory, we can check the ownership of that particular folder and log a warning saying "this instance was installed with user x, please run `ghost ls` as that user to get running instances"
3. If on mac/linux

[2017-08-24 15:23] vikaspotluri123 commented on #357
RE: 3. @acburdine what if there was a flag for that? That way if a root user is trying to find as many instances as possible, they would be able to. I can't really see many use cases for this, but just thinking out loud...

[2017-08-24 15:25] acburdine commented on #357
@vikaspotluri123 yeah I'm not _against_ adding it, but it is a lot of extra logic to add. It also means more maintenance overhead, so I'm reluctant to add it unless there's a good enough use-case for it 😄

[2017-08-24 15:28] TomChantler commented on #357
I haven't looked at the code yet to see what it does when I *do* run it as a ghost user, but I know that it works from any directory under those circumstances. I presume it looks through the file at `~/.ghost/config` and takes it from there. So we could certainly look through `/home` and see what was there.

[2017-08-24 15:31] acburdine commented on #357
@TomChantler yeah that works on Linux, on mac the logic would have to be different. Again, even though it might not be _too_ difficult to add, it's probably not worth it unless the use-case is great enough.

At the moment, I think no. 2 (warning if ghost install was created by a different user) is the best solution.

[2017-08-24 15:35] TomChantler commented on #357
Yes, sorry. I should have mentioned that. I agree that the pragmatic approach appears to be solution 2 in the first instance: "give a warning when running `ghost ls` inside a ghost installation which was created by a different user". It could later be enhanced to find all instances to which it had access if desired.

[2017-08-24 15:46] acburdine opened #463 "Make `ghost run` be responsible for outputting running environment"
There have been several issues raised recently (#461, #449, #431, #430) where the CLI loses track of running blog state when using systemd. The root cause of this is related to how the CLI keeps track of instance running environment.

Currently, `ghost start` starts Ghost using the configured process manager for the particular environment, and after it has been started sticks a value into the `.gh

[2017-08-24 20:37] alznyc commented on #430
If anyone still needs help with this...here is the solution that worked for me:
run:
sudo systemctl stop {ghost service) (use ls -la system/files to find the name of your ghost instance)

cd /var/www/ghost
ghost restart

[2017-08-25 01:07] greg5678 opened #464 "Ghost-Cli Error install on Debian"
I was trying to install Ghost via the ghost-cli. Here is the error log.
`Debug Information:`
    `Node Version: v6.11.2`
    `Ghost-CLI Version: 1.1.1`
    `Environment: production`
    `Command: 'ghost install'`
`An error occurred.`
`Message: Command failed: /bin/sh -c sudo -E -u ghost /usr/lib/nodejs/node-v6.1$`
`/usr/bin/env: node: No such file or directory`

`Stack: Error: Command failed: /bin

[2017-08-28 12:16] acburdine commented on #464
@greg5678 sorry for taking a while to get to this!

My guess is there's something wrong with how you installed node - would you mind giving some info about how you installed node on debian?

(Note: the recommended way to install it on ubuntu and debian is to use node's PPA -
 see docs here: https://nodejs.org/en/download/package-manager/)

[2017-08-29 23:23] alikuru opened #467 "ghost doctor fails to recognize alternate SES settings"
Transferring issue here from [#8952](https://github.com/TryGhost/Ghost/issues/8952).
--
I noticed this error when I wanted to test my config after I upgrading to 1.8.0.

[code]

My SES config is as follows;

[code]

I'm using `pm2` to run Ghost and everything, including emails, seem to work. So, I assume this must be an issue with the `doctor`.

[2017-08-30 01:32] #417 closed

[2017-08-30 19:36] ChaosMTA opened #468 "ghost backup"
### This issue is a

* [ ] Bug Report
* [ x] Feature Request

### Summary

Addition of a `ghost backup` command which gathers a dump of the MySQL database as well as a tar of the content folder would be a great addition. Users could add it to a cron task and backup the files to whatever 3rd party they wish.

I discussed this a bit on the slack with Austin and we think it would be a useful addition

[2017-08-30 19:40] acburdine commented on #468
Braindump:
These commands would be useful - might also be worth adding some extension hooks to define _where_ exactly to send the backups. The default implementation in core would be just saving it to the local filesystem, other extensions could potentially save to s3, dropbox, etc.

[2017-08-30 19:49] vikaspotluri123 commented on #468
@acburdine can you assign me to this please :)

[2017-08-30 22:09] msanabria commented on #447
I am running CentOS 7 and also experienced this issue on a fresh installation.

All I have done so far:
[code]

The output I receive from the last command

[code]

[2017-08-30 22:25] msanabria commented on #447
I rolled back ghost-cli one version at a time and then kept trying to run ghost install. It was successful once I installed ghost-cli v1.0.3.

[code]

[2017-08-31 10:16] acburdine commented on #447
@msanabria would you be able to run a couple of commands and post the output? (none of them should reveal anything private)

- `npm bin -g`
- `npm root -g`
- `which ghost`

[2017-08-31 13:33] msanabria commented on #447
@acburdine here you go.

[code]

[2017-08-31 13:59] acburdine commented on #447
Hmm....ok - does `/bin` happen to be a symlink of `/usr/bin`?

[2017-08-31 14:03] msanabria commented on #447
@acburdine Yessir. CentOS moved bin, sbin, lib, and lib64 into /usr and created symlinks for backwards compatibility. Here's the output:

[code]

[2017-08-31 17:44] acburdine commented on #447
Ah ok that makes sense - I'll open a separate issue to fix that.

[2017-09-01 11:27] triestpa commented on #461
Is there a fix for this yet?  Ghost-CLI is broken on my server currently, it always shows that Ghost is stopped, even though Ghost is running.  The only way to reboot the process currently is using `ps aux | grep ghost` and manually killing the process, which then automatically reboots itself.

Migrating to a new server and doing a clean install fixes this, but causes my blog to lose all of it's D

[2017-09-01 11:37] acburdine commented on #461
@triestpa not yet - I will work on implementing the fix (which is outlined in #463) this weekend.

[2017-09-01 12:22] frunk48 commented on #176
I faced the same problem, but in my case it turned out to be because my security group on my EC2 instance where I was trying to deploy was not allowing requests over port 80 (HTTP). It appears that the tool requires that both 80 and 443 be open.

[2017-09-01 12:45] acburdine commented on #176
@frunk48 yes this is the case - letsencrypt has to verify that you actually own your domain - and to do so it sends an HTTP request to your domain's configured IP address. It can't send the request over https because the cert hasn't been configured yet.

[2017-09-02 19:54] acburdine opened #469 "Copy system-related files rather than symlinking them."
There have been several issues raised in the past that are a result of the way Ghost-CLI manages config files for system-related services (e.g. nginx, systemd). Currently, the CLI saves the actual copy of the file into the `system/files` directory of the install, and then symlinks the file into the correct place on the filesystem. One benefit of this approach is it allows the user that installed G

[2017-09-04 05:27] BiosElement opened #470 "Ghost start is lacking env flags"
I'm attempting to setup a dev environment on Cloud9 and cannot pass the proper env flags to Ghost through the Ghost CLI, nor can I set a variable via JSON as it requires a numerical value to be valid JSON.

While this situation is unique to me, I can't imagine I'm the only one that needs to launch Ghost using various configuration flags and as far as I can tell simply npm start no longer works, al

[2017-09-04 08:46] ErisDS commented on #470
@BiosElement Can you please explain your problem in more detail, giving a reproduction case and the technical details requested in the issue template?

[2017-09-04 16:35] acburdine commented on #470
@BiosElement if you look at the docs [here](https://docs.ghost.org/v1/docs/config#section-running-ghost-with-config-env-variables), it explains how to run ghost with environment variables. I'm not sure what issue you're running into with that - as was said please provide more information :)

[2017-09-04 17:17] acburdine commented on #460
@xolee Sorry for missing this!

Would you be able to run `which nginx` and `which mysqld` on your server? I want to double check that those commands return something.

[2017-09-04 17:30] acburdine opened #471 "Better mysql docs/error handling when no password is specified during mysql setup"
Currently, if you follow the install instructions in the documentation, but don't specify a root password when you're setting up mysql, Ghost-CLI will error when you try to run `ghost install`, because it can't connect to mysql.

This is due to a bug in the underlying mysql adapter: https://github.com/mysqljs/mysql/issues/1507, which exists because specifying no password during mysql setup changes

[2017-09-04 17:44] acburdine opened #472 "Implement better ipc communication to ghost run process"
One thing that can be somewhat confusing currently when using the systemd process manager in the CLI is the fact that `ghost start` exits quickly with the message that ghost has started, when in fact it can sometimes take 20-30 seconds to actually start (time may vary from server to server based on a number of factors). Conversely, when you run `ghost start` using the local process manager, it doe

[2017-09-05 02:24] BiosElement commented on #470
Looks like I was being a tad slow. Thanks for the help!

[2017-09-05 02:24] #470 closed

[2017-09-07 17:19] xratzh commented on #447
@acburdine I tried Ubuntu and anything works well.The problem seems only happened on CentOS

[2017-09-07 17:49] fakeid30 opened #473 "Let user choose between nginx and caddy or just make caddy as default"
### This issue is a

- [x] Feature Request

### Summary

I propose to integrate [Caddy](https://caddyserver.com/) as a reverse proxy or use Caddy as the main server for ghost-cli installation. It [can already be done](https://github.com/sayem314/Ghost-over-Caddy) on the LTS branch. And it removes the need to install and configure certbot.

Please do think about it!

[2017-09-07 17:50] msanabria commented on #447
Oh and before people start to say that SELinux may be the issue, I've tried with both SELinux in permissive or in enforcing mode. Just seems to be failing a pre installation check.

[2017-09-07 18:07] acburdine commented on #473
@fakeid30 While Caddy does seem like a neat project, it's not something we'll pull into the core of Ghost-CLI. The recommended system stack was chosen for a reason, as is outlined in the docs [here](https://docs.ghost.org/docs/hosting#section-why-this-stack-). For Caddy specifically, there does not appear to be a defined and "officially supported" way of setting it up in production. There are unof

[2017-09-07 18:07] #473 closed

[2017-09-07 18:08] acburdine commented on #447
It's not that - I know what the issue is and will fix it in the next version :)

[2017-09-07 19:00] msanabria commented on #447
@acburdine Thank you for working to fix this! I just said my comment about SELinux because a lot of discussions end up pointing fingers at SELinux rather than focusing on the issue itself. Looking forward to the fixed release!

[2017-09-09 05:43] klpek commented on #460
the same probelm.
I use ubuntu16.04 32bit.  Nodejs v6.11.3

[2017-09-09 12:00] ErisDS commented on #460
@klpek can you provide the information that @acburdine asked for above please? Can't fix this without knowing what your system expects 😊

[2017-09-09 13:41] klpek commented on #460
~$ nginx -V
nginx version: nginx/1.12.1
built by gcc 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)
built with OpenSSL 1.0.2l  25 May 2017
TLS SNI support enabled
configure arguments: --user=www --group=www --prefix=/www/server/nginx --with-openssl=/www/server/nginx/src/openssl --add-module=/www/server/nginx/src/ngx_devel_kit --add-module=/www/server/nginx/src/lua_nginx_module --with-http_stub_sta

[2017-09-10 03:50] ddhp commented on #442
I bumped into this issue as well since I start using ghost-cli migrating from ghost v0.7
Thanks @FrankV01 for all the information but I found out it's not related to permission

I followed the solution you gave, and here is the result:
[code]
and I have checked all permission is set properly, but error was still there

so later I tried `cd ~/.npm-global/lib/ghost-cli` and run `npm install sqlite3`

[2017-09-10 14:34] ErisDS commented on #460
@klpek The request was for the result of `which nginx` and `which mysql` 😕

[2017-09-10 21:32] tmack8001 commented on #435
The way that I got around this is via correctly setting up the systemctl files as this process is different on Ubuntu vs Debian linux distributions.

 Here is the command I executed to set up the systemd services for debian and after this ghost-cli commands to interact with a running ghost blog just worked and no more of these yargs.js errors.

[code]

_**obviously** replacing /var/www/host/myblog

[2017-09-12 12:35] klpek commented on #460
nginx version: **nginx/1.12.1**
mysql Ver 14.14 Distrib **5.5.55**,
OK?

[2017-09-12 12:39] acburdine commented on #460
@klpek the reason I asked for the output of `which mysqld` and `which nginx` was not to get the versions - I'm looking for where the actual mysql/nginx executables are installed on the system - `which mysqld` and `which nginx` are the commands the CLI uses to determine whether or not mysql/nginx is installed at the moment.

[2017-09-12 12:43] klpek commented on #460
Ok, I see.
$which nginx
/usr/sbin/nginx
$ which mysql
/usr/bin/mysql

[2017-09-12 15:41] acburdine commented on #460
ok - I think I see what the issue is here. Will fix and introduce in the next release.

[2017-09-13 06:51] TheCapsLock opened #475 "Give sysadmins ability to run privileged commands themselves"
### This issue is a

* [ ] Bug Report
* [X] Feature Request

### Summary

as a system administrator, I'm not confident to let a program run privileged commands at root level.

This feature request is all about giving system administrators ability to

* run sudo commands manually in place of ghost-cli (this could be accomplished by prompting sysadmin what to do (eg systemctl stop ghost) and wait fo

[2017-09-13 08:21] lersh opened #476 "Installing v1.1.1 throws `two version of Node` error"
### This issue is a

* [x] Bug Report

### Summary

Tried installing v1.1.1 in a vagrant environment using nvm and node v6.11.1 today and causes the following error:

[08:11:36] Checking system Node.js version [started]
[08:11:37] Checking system Node.js version [failed]
[08:11:37] → The version of Ghost-CLI you are running was not installed with this version of Node.
This means there are likely t

[2017-09-13 08:22] lersh commented on #476
ghost@vultr:/var/www/ghost$ npm bin -g
/usr/bin
ghost@vultr:/var/www/ghost$ npm root -g
/usr/lib/node_modules
ghost@vultr:/var/www/ghost$ which ghost
/usr/local/bin/ghost
ghost@vultr:/var/www/ghost$ ll /usr/local/bin/ghost
lrwxrwxrwx 1 root root 39 Sep 13 08:01 /usr/local/bin/ghost -> ../lib/node_modules/ghost-cli/bin/ghost*
ghost@vultr:/var/www/ghost$

[2017-09-13 10:23] acburdine commented on #476
@lersh looking at it it _does_ look like you have two versions of Node installed, if you use nvm globally with a system-installed version of Node then things have the tendency to not work correctly.

My guess is the system-installed (e.g. `apt-get install nodejs`) version is what's currently active, as `npm bin -g` returns /usr/bin - but ghost-cli was installed with the nvm-installed version of no

[2017-09-13 13:38] lersh commented on #476
@acburdine I tried to reinstall `ghost-cli v1.0.3`,it works!
I will try to remove nvm and running `ghost install` tomorrow.
thank you for replying.

[2017-09-14 01:49] lersh commented on #476
@acburdine I tried to remove nvm,but it told me there is no nvm.
`root@vultr:~# apt remove nvm
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package nvm`

[2017-09-14 10:09] aswordok commented on #460
# which mysqld
/usr/bin/which: no mysqld in (/root/.nvm/versions/node/v6.9.5/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin)
# which mysql
/usr/bin/mysql

You can edit the file  /root/.nvm/versions/node/v6.9.5/lib/node_modules/ghost-cli/lib/commands/doctor/checks/install.js, search "Local MySQL install not found", and replace "which mysqld" with "which mysql", then the error will

[2017-09-14 11:25] acburdine commented on #476
right, so the reason ghost 1.0.3 works is the check for multiple Node versions was added in ghost-cli 1.1.0 😉

so something you might also try doing is running `/usr/local/bin/npm uninstall -g ghost-cli`. That will (probably) uninstall the nvm-managed version of ghost-cli and allow you to then run `npm install -g ghost-cli` to install Ghost-CLI in the right place.

(As to why you can't "remove" nv

[2017-09-14 11:28] acburdine commented on #460
@aswordok couple of things:

1. Could you post the contents of `/root/.ghost/logs/ghost-cli-debug-2017-09-14T06_21_28_654Z.log`? It should have some more information as to what exactly is going wrong.
2. The reason it is `which mysqld` as opposed to `which mysql` is the fact that the `mysql` command is for the mysql _client_, which allows you to access and run commands on mysql databases. The `mys

[2017-09-14 11:46] acburdine commented on #475
@TheCapsLock I understand where you're coming from - however I think the feature as you've described it would likely cause more confusion and breakage, mainly because commands often have additional things that they require other than just the raw command itself; for instance, various environment variables. Also, if say the sysadmin mistyped a command, then the CLI would potentially have issues :/

[2017-09-14 20:47] ErisDS commented on #475
As a sys admin, you can choose to run `ghost install --no-setup` and handle everything else yourself. Therefore there is already an option in place if you don't want the cli running those tasks.

And that is, fundamentally, the crux of it. If you give people the option to say no then people will get themselves into situations that require support.

The point of Ghost CLI is twofold:
1. improve the

[2017-09-14 20:47] #475 closed

[2017-09-15 00:25] aswordok commented on #460
@acburdine
[root@xxx ~]# cat /root/.ghost/logs/ghost-cli-debug-2017-09-14T06_21_28_654Z.log
Debug Information:
    Node Version: v6.9.5
    Ghost-CLI Version: 1.1.1
    Environment: production
    Command: 'ghost install'
An error occurred.
Message: 'Command failed: /bin/sh -c sudo -E -u ghost /root/.nvm/versions/node/v6.9.5/lib/node_modules/ghost-cli/node_modules/.bin/knex-migrator-migrate --init

[2017-09-16 19:24] TheCapsLock commented on #475
@acburdine the idea you expressed is exactly what I had in mind.
@ErisDS just printing what ghost CLI is going to run with sudo is not satisfying when focusing on host security

[2017-09-16 19:58] karltk opened #479 "Cannot set port with ghost install"
### This issue is a

* [x] Bug Report

### Summary

The `--port` option to `ghost install` appears to be ignored.

### Steps to Reproduce (for a bug report)

1. Run `ghost install --port 8080`
2. Look inside the `config.production.json`, where the port is always set to 2368

I would expect the `port` attribute in the `server` section to be set to 8080. Same behaviour whether I enable configuration

[2017-09-16 20:16] acburdine commented on #479
Good catch! I can definitely confirm this, will fix in the next version.

[2017-09-16 20:18] acburdine commented on #476
@lersh it does look like you ran into the error as it was intended to occur - you installed ghost-cli with a different version of node than what you're running it with.

If the change I suggested previously doesn't work, you might try swinging by our [slack channel](https://slack.ghost.org) and asking for help there. If we find that this is an issue with the CLI and not a system-specific issue, th

[2017-09-16 20:18] #476 closed

[2017-09-16 20:21] acburdine commented on #464
@greg5678 after talking with several in slack that seem to have had this same issue, it turns out that if you just run `apt-get install nodejs`, it will install the binary as `nodejs` rather than just `node`, which is what is causing this step to fail.

If you install node using the official recommended way (see the link in the previous comment), then it should work fine. If it turns out that it d

[2017-09-16 20:21] #464 closed

[2017-09-16 20:38] #479 closed

[2017-09-18 09:42] ErisDS commented on #475
@TheCapsLock you misunderstand me. If you run `ghost install --no-setup` then the CLI will install Ghost, but not run any of the supplementary system setup steps that require sudo.

The default setup steps exist to help the majority of users who would struggle to configure their server alone. Users such as yourself who are security-conscious sysadmins should be reading the docs, using `--no-setup`

[2017-09-18 14:41] aswordok commented on #460
After several test, I choose ghost-cli@1.0.0-beta.1, and it work well:
npm i -g ghost-cli@1.0.0-beta.1

[2017-09-18 22:55] Bilge commented on #447
Have exactly the same issue on Arch Linux.

`# npm root -g`

`# which ghost`

`# ls -la /usr/sbin`
lrwxrwxrwx 1 root root 3 Mar 26 21:57 /usr/sbin -> bin

lrwxrwxrwx 1 root root 7 Mar 26 21:57 /bin -> usr/bin

[2017-09-20 18:33] ePirat opened #481 "ghost update tries to restart Ghost"
### This issue is a

* [ ] Bug Report
* [x] Feature Request

### Summary

Currently there seems no way to use `ghost update` without it trying to restart ghost.
In my setup this can't work as ghost cli does not correctly work with systemd on debian (neither do I want it to mess around with it anyway, but manage it all myself)

Therefore an option like for `ghost install`, which has (`--no-start`),

[2017-09-21 12:40] acburdine commented on #481
My initial response is to say build a ghost-cli extension so that `ghost start`/`ghost stop` can integrate with whatever process manager you're using.

However, this isn't a bad idea - I'll work on implementing it and getting it into the next version 😄

[2017-09-22 07:48] DeastinY commented on #435
Hey,
just wanted to chime in. I'm running into the exact same errors (on Debian as well), but did not get any of the solutions to work yet :disappointed:

[2017-09-25 14:06] toblerone1963 opened #482 "Error undefined on install"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

Hi,

I open a new issue, because [this one](https://github.com/TryGhost/Ghost-CLI/issues/400) was closed, and I still have the same bug since the beginning of Ghost 1.0. ```ghost install local``` throw an error ```Error occurred running command: 'undefined' ``` when running database migrations.

### Steps to Reproduce (for a

[2017-09-26 14:52] MertcanGokgoz commented on #481
Hello

i use systemd based ghost service but every update command error this and this section needs to be automated

[code]

why it is not automatic this `systemctl restart ghost_site.service`

full log

[code]

[2017-09-27 19:01] vladimir-vg commented on #482
Experienced exactly same today.

[code]

[code]

[2017-09-27 19:16] vladimir-vg commented on #482
Ran with --verbose, turns out that it wants ghost user created in advance.

[code]

[2017-09-27 19:21] vladimir-vg commented on #482
yeah, creating 'ghost' user and running command on his behalf solved my problem.

[2017-09-28 16:28] toblerone1963 commented on #482
Yep, it works !

[2017-10-01 20:47] sesser commented on #414
I'm running into an issue with systemd and one of my ghost installs. Can't run `ghost start` because systemd service hasn't been installed. But when I run `ghost setup systemd`, it skips the process because it thinks it's already been setup!

![screenshot 2017-10-01 13 31 08](https://user-images.githubusercontent.com/632505/31058772-18093f02-a6ae-11e7-8dd3-70404d9af2e2.png)

I've removed any linge

[2017-10-01 20:55] sesser commented on #414
Disregard. After looking at `.ghost-cli` file, I set

[code]

and `ghost setup systemd` completed successfully.

[2017-10-02 17:11] aswordok opened #484 "update error"
OS:centos 7 x64
Node Version: v6.9.5
Ghost-CLI Version: 1.0.0-beta.1
ghost version:v1.8.6
mysql:mysql  Ver 15.1 Distrib 5.5.56-MariaDB, for Linux (x86_64) using readline 5.1

Before update to 1.10.0,it work well.

[root@xxx ghost]# ghost update
Process manager 'systemd' does not exist, defaulting to 'local'
✔ Checking for latest Ghost version
All up to date!
[root@xxx ghost]# ghost version
Ghost-C

[2017-10-02 17:20] aswordok commented on #484
After use --force:
ghost update --force
Now it work again.

[2017-10-02 17:21] acburdine commented on #484
it looks like you're on an old version of the CLI - would you mind updating to the latest version and seeing if it fixes your issue?

(You'll also have to go through some more steps - see the docs [here](https://docs.ghost.org/v1/docs/upgrade#section-upgrading-ghost-installs-that-used-ghost-cli-1-0-0))

[2017-10-03 02:28] aswordok commented on #484
when I use:
npm i -g ghost-cli@latest
update to 1.1.1,it can't work well,it give a error:
✖ Running database migrations
An error occurred.

Now I have rollback to Ghost-cli v1.0.0-beta.1+ghost v1.10.0,and it work well again.

[2017-10-03 13:31] adriaan-pelzer commented on #467
Is there any way ghost can be started without running ghost doctor?
I want to use SES, and it works, but I can't start ghost because of this issue.

[2017-10-05 07:20] nmaxcom opened #485 "'EACCES: permission denied, open '/var/www/ghost/.ghost-cli"
[code]

This happened after a successful `ghost run` to check everything (after a hundred bugs, reinstalls, and other issues). I think I had this error before and a knowledgeable guy from Slack told me I needed to add one more key to `.ghost-cli`. Something like "environment":"production" or something like that. He mentioned it was a known bug but I didn't find it here.

I'm asking here so if it h

[2017-10-05 11:30] ErisDS commented on #485
@nmaxcom sorry to hear you're having trouble.

'EACCES: permission denied, open '/var/www/ghost/.ghost-cli'

This means that the ownership or permissions on the mentioned file do not allow for the user being used to run the command in question to open the file.

Unfortunately, without details, it's pretty hard for us to tie down why this situation happened for you.

No one at Ghost wants you to ha

[2017-10-08 12:07] nmaxcom commented on #485
I sent the details to two teammates. And today I talked with the ghost-cli dev in your Slack. I'm a developer myself; I understand the challenges. **IMHO ghost-cli is not ready even for beta**, and AFAIK is a "stable" solution you offer on your website as the easy-sure-shoot way.

I followed your official install process to the letter, and I found myself with a broken install, even though it was a

[2017-10-08 12:07] #485 closed

[2017-10-08 13:14] bery opened #487 "Nginx dhparam file is generated each time"
### This issue is a

* [x ] Feature Request

### Summary

Dhparam file for nginx SSL configuration is generated each time when SSL certificate is issued for a site installed using ghost cli which takes a huge amount of time

### Steps to Reproduce (for a bug report)

1. Install multiple sites without using SSL
2. Enable SSL support per site

Proposal: Create one dhparam file and use it across all

[2017-10-08 16:08] acburdine commented on #487
@bery yup this makes sense - I originally had thought that it was better, security-wise, to have a unique dhparam for each site, but after reading some more into it it looks like it's fine to only generate it once.

I'll take care of this alongside #469.

[2017-10-08 16:10] acburdine commented on #484
@aswordok so Ghost-CLI 1.0.0-beta.1 had _many_ changes before Ghost-CLI 1.0.0 final - so much so that you'll likely have to re-create your installation. (which should have been output when you ran `ghost update`).

As such, I'm going to close this issue. If you still run into issues with the current version of Ghost-CLI (on an install created with Ghost-CLI 1.0.0RC.1 or later), then we can reopen

[2017-10-08 16:10] #484 closed

[2017-10-09 10:23] luizkowalski commented on #467
same issue here:

[code]

[2017-10-09 11:13] adriaan-pelzer commented on #467
I've had to fix it as follows:
In lib/commands/config/advanced.js: find the array: ['smtp', 'sendmail', 'direct'] and add 'ses', to make it ['smtp', 'sendmail', 'direct', 'ses']

[2017-10-09 20:51] #467 closed

[2017-10-09 23:59] #265 closed

[2017-10-10 18:02] ErisDS opened #495 "Acme.sh certificate renewal is not complete"
I'm having problems with sites going offline with certificate errors. Acme.sh is correctly renewing the certificates, but nginx must be restarted afterwards, and I don't think that has been configured.

I'm not sure why we haven't had a tonne more reports of this!

Refs:

- https://github.com/Neilpang/acme.sh#3-install-the-issued-cert-to-apachenginx-etc
- https://www.rmedgar.com/blog/using-acme-sh

[2017-10-10 22:26] treyssatvincent opened #496 "Can't install multiples instances "Port '2368' is in use""
### This issue is a

- [x] Bug Report
* [ ] Feature Request

### Summary

If this is a bug, double-check and make sure there's not already an existing issue for it, then provide a quick summary of what error is occurring.

### Steps to Reproduce (for a bug report)

1. run ``ghost install`` on /var/www/exampleone
2. run ``ghost install` on /var/www/exampletwo

Debug Information:
    Node Version:

[2017-10-11 14:03] vilic opened #497 "Node.js version check is not compatible with yarn installation"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

https://github.com/TryGhost/Ghost-CLI/blame/b5f9c448976f6c753d95c925db70be88b542cf44/lib/commands/doctor/checks/install.js#L42

In my case, `npm bin -g` is `/usr/bin` while `yarn global bin` is `/usr/local/bin`

### Technical details (will be automatically output by Ghost-CLI if an error occurs):

* OS: Ubuntu 16.04
* Node V

[2017-10-12 11:38] Vadorequest opened #500 "ProcessError occurred running database migrations to v1.13.0 and SQLite"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

I'm running a `ghost update` inside a Docker container.

[code]

Maybe it's related to the fact I'm using SQLite? Or Docker?  (it shouldn't be related to Docker)

I still get this message in my

[2017-10-12 11:43] kirrg001 commented on #500
@acburdine FYI: I've tested the migration from 1.12 to 1.13 using sqlite.

[2017-10-12 11:59] Vadorequest commented on #500
I tried something else, instead of updating my previous version of Ghost through the CLI, I tried installing the latest ghost:1.13.0-alpine docker image, and load it with my sqlite DB from Ghost 1.12.1. It fails.

`Undefined binding(s) detected when compiling SELECT query: select "clients".* from "clients" where "clients"."slug" = ? limit ?`

![image](https://user-images.githubusercontent.com/3807

[2017-10-13 03:51] remingtonc commented on #442
@ddhp I love you.

[2017-10-13 12:51] newey01c opened #501 "Ghost process exited with code: 0"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

[code]

Ghost won't start - just emits this unhelpful error message!

### Steps to Reproduce (for a bug report)

Not sure. Usually happens after an upgrade and reboot on the server. NPM packages are rebuilt at the same time but this doesn't always fix it.

### Technical details (will be automatically output by Ghost-CLI if a

[2017-10-14 22:14] Nopzen commented on #192
can confirm OP was mem issue for me, I was running a Droplet 512mb ram,  resized it and it seemed to make it work.

[2017-10-15 18:41] R3dSquirrel commented on #482
Can confirm, fixed it on Ubuntu on Windows.

[2017-10-16 04:59] DanielNeutrinos commented on #447
Same problem trying to install on raspbian
`$ npm bin -g`
`/home/pi/.npm-global/bin`

`$ npm root -g`
`/home/pi/.npm-global/lib/node_modules`

`$ which ghost`
`/usr/bin/ghost`

`$ ls -l /usr/bin/ghost`
`lrwxrwxrwx 1 root root 39 Oct 16 04:45 /usr/bin/ghost -> ../lib/node_modules/ghost-cli/bin/ghost`

And had the same error as @Bilge when rolling back to v1.0.3

[2017-10-17 03:59] togume commented on #501
+1 on this. Happened in my local macOS build (I use for local writing). Did `ghost upgrade` and got this issue. My `nvm` works well, and I can create new local ghost instances without issues.

[2017-10-17 18:36] gcochard commented on #463
Why _doesn't_ it query `systemctl` if it doesn't see the environment in `.ghost-cli`? This seems backwards to me. I'd prefer if it would query all known instances, even if that were a bit slower.

[2017-10-17 18:40] gcochard commented on #461
@triestpa A workaround is to add `"running": "<environment>"` to the `.ghost-cli` file in the ghost install directory, then it will once again query the process manager.

[2017-10-18 11:14] acburdine commented on #463
@gcochard that's a valid point - however it's not possible given the way Ghost-CLI works with running environments at the moment.

Ghost-CLI is set up so that you can extend it and use a different process manager as long as there's an extension you've installed for it (e.g. [pm2](https://github.com/acburdine/ghost-cli-pm2) or [supervisor](https://github.com/vikaspotluri123/ghost-cli-supervisor)).

[2017-10-18 11:16] acburdine commented on #501
@newey01c @togume would both of you be able to try running `ghost run --development` and see if anything is output?

If this happens again too you might try running `ghost log` just to see if there are any error messages.

I'll try to add some additional logic in here to output exactly _why_ ghost stopped - although if there is no logging output there's not much that I can do unfortunately.

[2017-10-18 11:28] newey01c commented on #501
There is no helpful logging output unfortunately! If there was, I'd have dug in a little bit deeper trying to diagnose the problem. I *think* it might be to do with `knex-migrator` using a local copy of the `sqlite3` npm module which then doesn't get recompiled on a `node` upgrade (and then ghost-cli doesn't properly report the error) - but I'm not fully sure yet.

[2017-10-18 12:24] acburdine opened #503 "SPIKE: Investigate knex-migrator improvements"
### Summary

One of the most frequent problems that I've seen in both Slack and in the various issues created here is with database migrations (surprise surprise), especially where sqlite is concerned, since it requires native bindings that are specific to the individual version of node.

The most often problem that happens is a user installs ghost-cli, then installs a new version of node via nvm

[2017-10-18 17:07] DiegoRBaquero opened #504 "ENOENT: Error occurred running command: 'yarn info ghost versions --json'"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

Received a yarn error while using npm. I do not have yarn and I don't plan to use it.

### Steps to Reproduce (for a bug report)

Install Ghost CLI, install ghost locally using `ghost install local`

### Technical details (will be automatically output by Ghost-CLI if an error occurs):

Error
[code]

* OS: Mac OS Sierra
* Nod

[2017-10-18 17:08] DiegoRBaquero commented on #504
Solved reinstalling CLI npm module: `npm uninstall -g ghost-cli && npm install -g ghost-cli@latest`

[2017-10-18 17:08] #504 closed

[2017-10-18 17:09] vikaspotluri123 commented on #504
FYI the CLI uses yarn to install ghost in the background 😄

[2017-10-18 17:12] DiegoRBaquero commented on #504
@vikaspotluri123 I know, but it is a dependency of the CLI, users are not required to have it (See https://github.com/TryGhost/Ghost-CLI/issues/160#issuecomment-282129636). However, I was being required to have it (for some reason). Reinstalling the global CLI module fixed it :)

[2017-10-21 15:17] benaubin commented on #495
See the `--reloadcmd` option for acme.sh: https://github.com/Neilpang/acme.sh#3-install-the-issued-cert-to-apachenginx-etc

[2017-10-23 14:43] acburdine commented on #495
So yeah, this bug is pretty bad. I apologize for not catching this one sooner.

After doing some research - I've discovered an unfortunate reality: _We need sudo permissions to restart nginx._

There are several different commands that can be run to reload nginx that I found. They are:
- `service reload nginx` / `systemctl nginx reload` (for our intent they're essentially the same)
- `nginx -s rel

[2017-10-23 15:09] acburdine commented on #495
After a conversation with @sebgie on Slack, we've decided to go with option 1.

Acme.sh has an option to set the certs up in a location other than the home directory - for new installs it will install all the certs to `/etc/letsencrypt` rather than `~/.acme.sh`. We will also run acme.sh as root, which fixes any permissions issues we have with nginx.

This will require building out some of the abil

[2017-10-23 15:28] ErisDS commented on #495
I totally get that we need to do this sometime, and that it's not a small amount of work.

For now, how does this approach sound:

- [ ] 1. Build out the new version
- [ ] 2. Write the documentation for how to manually migrate your site to the new version
     - My expectation is the simple version would be "run `ghost setup:ssl`, then delete X files" or similar, and then there'd be an extended ve

[2017-10-23 20:20] ErisDS commented on #495
I've updated the top issue to make it more searchable. I have also added a section to the troubleshooting guide: https://docs.ghost.org/v1/docs/troubleshooting#section-net-err_cert_date_invalid, and a red callout on the install page: https://docs.ghost.org/v1/docs/install.

Hopefully this will help anyone who runs into this issue (had 2 today in #help on https://slack.ghost.org) find the answer qu

[2017-10-24 02:40] #487 closed

[2017-10-24 14:14] ErisDS opened #508 "Default database name"
Tiny note, not important right now.

If I hit enter when doing a production install, the database name ends up being `ghost_production_ghost`.

Really don't want to have to type that beast out forever more.

`ghost`, `ghost_prod`, or `ghostdb` or similar would suffice?

[2017-10-24 14:37] ErisDS commented on #496
I can confirm this bug, I also ran into it today.

[2017-10-26 14:07] illnino opened #509 "connect() failed (111: Connection refused) while connecting to upstream"
### Stop Ghost and start Ghost, Got 502

* [*] Bug Report

### Summary

I ran `ghost stop` and then ran `ghost start`. When I visited https://blog.myserver.com, I got nginx 502 error.

Nginx error Log:
[code]

### Steps to Reproduce

[code]

[code]

Got 502.

[code]

Then I uninstall Ghost
[code]

Then I re-install Ghost

[code]

The problem persists.

[code]

I found `Failed to read PID from file

[2017-10-26 17:48] imzhengfei opened #511 "Creating new mysql user errored with message: ER_NOT_VALID_PASSWORD: Your password does not satisfy the current policy requirements"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary
It seems the random password for MySQL user is too simple.

[2017-10-26 17:57] imzhengfei commented on #497
@vilic
You can try to use this command to change yarn global bin:
[code]
and then:

This method solved my installing problem about the "two node version ...".

[2017-10-26 21:52] YOnoda commented on #431
Has this been not fixed yet? I could nither stop nor restart Ghost since it is running yet is shown not...

[2017-10-27 03:16] allthedrones commented on #511
I also encountered this issue, with the MySQL Password Validation Plugin (which MySQL now prompts for when running the included hardening routine `mysql_secure_installation`), configured to the MEDIUM or STRONG settings.

Most likely RC is password shorter than 8 chars or not meeting complexity requirements (mixed case, 1+ numerals, 1+ special char).

Failing password config on MySQL:

[code]

[2017-10-27 05:12] togume commented on #501
@newey01c - sounds like what happened to me...

@acburdine - I'll try that next time to see what happens. What I ended up doing was - getting the `sqlite3` to work with the local db that threw the error, doing a db dump, upgrading everything, importing the dump.

[2017-10-27 07:41] hungys commented on #390
I have the same issue after rebooting. The temporary workaround is to delete the line `"process": "systemd",` from `config.production.json`, and then run `sudo ghost setup systemd` to re-configure systemd.

[2017-10-27 07:42] hungys commented on #461
Same issue here, and @gcochard 's workaround just works.

[2017-10-28 14:15] acburdine commented on #511
@imzhengfei this should I think be a fairly small/easy fix - so if you want to create a PR for it feel free :) Otherwise I'll get to this when I have some time.

[2017-10-28 14:19] acburdine commented on #431
@YOnoda I'm sorry for not getting this fixed yet - it's definitely on my radar, I just need to find the time to finish implementing the fix :)

[2017-10-30 00:31] acburdine commented on #190
With #507, there were some additional checks implemented that handles the "ip is pointing to the wrong server IP" error.

Going to close this now, we can reopen in the future if we decide we need better checks.

[2017-10-30 00:31] #190 closed

[2017-10-30 07:06] gmschroeder commented on #430
Same problem as above:
| Name         │ Location            │ Version│ Status    │ URL │ Port │ Process Manager │
│ greg-party │ /var/www/ghost │ 1.16.0  │ stopped │ n/a    │ n/a  │ n/a

[2017-10-30 10:15] TomChantler commented on #508
Well the database name is now deliberately `ghost_environment_foldername` where you are (generally) installing into `/var/www/foldername`. It needs to be unique for each installation otherwise it goes wrong as described in #453 and fixed in #454.

So `ghostdb` would not suffice. I suppose it might be possible to shorten it, but the current naming convention tells us it's a ghost database, that it'

[2017-10-30 10:20] TomChantler commented on #496
This is odd as we had an issue a while back with port numbers limiting multiple installations and which was described in #451 and fixed in #452. I wonder why it's broken again? I'll try to take a look.

[2017-10-31 13:15] Windyo opened #514 "Ghost update does not check for operation success before setting version flags"
### This issue is a

* [X] Bug Report
* [ ] Feature Request

### Summary

Running ghost update tries to update ghost to the latest version.
If an error occurs during the update, ghost-cli will inappropriately set flags that the version is now the latest one, resulting in a partial update and multiple unique bugs depending on what was updated and what was not.

### Steps to Reproduce (for a bug rep

[2017-10-31 13:17] acburdine commented on #514
I can definitely see why this isn't ideal. However, there is a current way to achieve this with the current state of the CLI.

[code]

The first command will rollback to the last version you had before upgrading. The second will update again, forcing the update (which means it will remove the previously half-installed version.

[2017-10-31 13:21] Windyo commented on #514
Ah cool. Could you add that to the "Troubleshooting" section of the wiki ? :) We can close this afterwards.

[2017-10-31 15:38] lmuzquiz commented on #496
I also ran into this issue today.

This is what i did:

mkdir /var/www/lmuzquiz/blog
cd /var/www/lmuzquiz/blog
ghost install

Then after installing ghost successfully, i  intentionally removed the whole blog folder by running:

rm -rf /var/www/lmuzquiz/blog

Created the blog folder again, ran ghost install, and the installation process begins smoothly but after i answer this question:

Enter your

[2017-10-31 15:48] TomChantler commented on #496
The way I resolved it was to run `ghost ls` and see which ports were in use (only 2368 in my case). Then I simply ran `ghost install --port 2369` and it worked fine.

[2017-10-31 16:00] lmuzquiz commented on #496
If i run ghost ls i get:
[code]

but if run sudo netstat -plotn i get:

`tcp        0      0 127.0.0.1:2368          0.0.0.0:*               LISTEN      7439/node        off (0.00/0/0)
`

I think that means node is using the port?

Anyway i wil try installing ghost by specifying the port number

[2017-10-31 16:05] treyssatvincent commented on #496
@TomChantler That's what I've done, but it was a better behaviour when the CLI changed the installation port itself. This is why I've filled an issue.

[2017-11-01 03:23] amio commented on #447
@acburdine I don't have nvm on ubuntu 16 but still get this problem

[2017-11-01 03:28] benaubin commented on #495
nice!

[2017-11-01 03:38] gompa opened #515 "ghost-cli deleting config.production.json if mysql local root user is disabled"
### This issue is a

* [ x] Bug Report
* [ ] Feature Request

### Summary

when running ghost-run on a production install with mysql root password disabled
the config.production.json gets wiped

which is an big issue when using auto generated ghost password , the password gets lost

### Steps to Reproduce (for a bug report)

1. install and setup ghost with ghost-cli
2. run mysql_secure_installatio

[2017-11-01 13:16] ErisDS commented on #495
@acburdine should we maybe move the list of tasks out of this issue now and into a new one?

[2017-11-02 06:29] imzhengfei commented on #511
@acburdine I know little about node, I will try. Hope I can do it. :)

[2017-11-02 13:16] kirrg001 opened #516 "Problem with none installed dependencies"
See https://github.com/TryGhost/Ghost/commit/a7fe464d64bc1675c8ebc9e54b19e358dbcc8561 and https://github.com/nodejs/Release/issues/263.

Ghost requires Node 8.9 with 1.16.2. As soon as i run `ghost update --zip ...` with < 8.9, i'll get

Makes sense.

But when i run it another time and ignore it, it skips the check and continues.

Because it skips this step, **no dependencies are installed** and m

[2017-11-02 13:34] ErisDS commented on #516
`ghost update --rollback` should force the rollback to at least fix the install.

As a secondary aspect to this. I was planning to raise an issue today about designing a recommended process for upgrading Node with Ghost CLI, because, even without this problem, we need to figure out how this should be done.

Not sure if it's a documentation task only, or if we need some new tooling.

E.g. I am on N

[2017-11-02 13:37] kirrg001 commented on #516
Yes it fixed it for me. Thanks 👍 Maybe worth adding this to our troubleshooting section.

[2017-11-02 13:44] kirrg001 commented on #516
One extra note. The error was **only** in the CLI debug log. The instant error only showed that `yarn` failed. That might cause users to simply run `ghost update` again, because they are not looking directly into the debug log.

[2017-11-02 23:06] gompa commented on #511
a good effort in my opinion(for what its worth) but according to [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random):
Math.random() does not provide cryptographically secure random numbers. Do not use them for anything related to security

[2017-11-03 06:57] imzhengfei commented on #511
@gompa thx for your advice, I'll try to find another way.

[2017-11-03 11:16] imzhengfei commented on #511
@gompa Thx for your reminding me of that problem, I've rewrite the RAMDOM method with Linear Congruential Generator in stead of Math.random().

[2017-11-05 04:16] chrisdlangton opened #518 "Ghost ignores remote mysql in production config"
Ghost 1.16.2
Ghost-CLI 1.2.0
Node Version: 6.11.5

config.production.json
[code]

Error:
[code]
As you can see it tries to use `127.0.0.1` ignoring the config, any chance there is a bug here or the docs are out of date? Maybe i'm missing something..

[2017-11-05 07:45] chrisdlangton commented on #518
Opened in correct repo

[2017-11-05 07:45] #518 closed

[2017-11-05 13:29] awbacker opened #519 "Install using http://server.com:port overwrites port# with 2368"
When installing and using a URL with a port in it, the port is seen but the value is replaced with 2368 in both the URL and the `port` setting in the config.

Steps performed:
----
* Create directory `/opt/ghost-v1/`, and `chown ghost:ghost` that thing
* Run ghost install in the directory as root
* Enter "https://somesite.co:4000" as the url

Results:
----
* Config contains `url = https://somesite

[2017-11-06 02:43] #509 closed

[2017-11-06 03:33] awbacker opened #520 "Allow running ghost without systemd, and as the ghost user"
Closing.  Giving this another shot, I may have messed something up the first time around, so rebuilding from scratch.

[2017-11-06 03:38] #520 closed

[2017-11-06 10:57] acburdine commented on #519
Hmm...so it _should_ be taking the port that you specified in the url and using it. What _used_ to happen was if you specified somesite.com:4000, it would set the server.port value to 4000.

This is likely a bug, I'll do some more investigating.

[2017-11-07 10:20] NistorCristian commented on #519
I can confirm this too. It also breaks the install if you have multiple Ghost instances:

[code]

To solve this I run `ghost config --port 2371` (2371 is a port that isn't used anywhere)
I also put the port in url:
[code]

Then the config file is created.

I removed the port from `config.production.json` url.
`"url": "https://blog.domain.com",` became `"url": "https://blog.domain.com",`

After thi

[2017-11-07 22:39] skluthe commented on #461
Is <environment> a variable I should be replacing? I added it to my file and had no luck.

[2017-11-08 03:27] yousaid opened #522 "Installation fails with permission checks. Is there a fix for #388?"
This issue was closed but it's still there. I have full rights to the folder. but installation fails as listed in #388.
I have tried the ..--no-setup-linux-user switch that did not work.

Environment:
Debug Information:
    Node Version: v8.9.0
    Ghost-CLI Version: 1.2.0
    Environment: production
    Command: 'ghost install --user yousaid'

### This issue is a

* [ 1] Bug Report

### Summary
S

[2017-11-08 16:49] imzhengfei commented on #481
I meet the same problem on **CentOS 7** with **Ghost-CLI v1.2.0**

[code]

[2017-11-08 17:19] paambaati opened #524 "Git isn't documented as a prerequisite"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

If this is a bug, double-check and make sure there's not already an existing issue for it, then provide a quick summary of what error is occurring.

If this is a feature request, use this section to describe what feature you would like to see in the CLI, as well as a quick summary of any benefits or drawbacks you can think o

[2017-11-08 17:50] vikaspotluri123 commented on #524
I think we could avoid the additional requirement by downloading the archive instead of cloning (so insted it would be `wget / curl {args} https://github.com/Neilpang/acme.sh/archive/master.tar.gz &&  tar {args}`. This could either be replacement functionality, or a catch to git failing.

[2017-11-09 06:12] whitfin commented on #501
@newey01c that appears to be accurate. I had the same issue; `cd current && npm rebuild` fixed it.

[2017-11-10 15:21] acburdine commented on #524
@vikaspotluri123 that's a good idea - can fix it in the next version

[2017-11-10 15:39] acburdine opened #525 "Update notifications for Ghost-CLI"
Related to #505, TryGhost/Ghost#9199, #495

Currently we have an issue in the CLI in that there is no serious prompting to upgrade the CLI itself. There is currently an upgrade notification, but that happens _after_ a ghost command is run, and doesn't specify that it is a _required_ upgrade, just that there is a new version available.

We need to implement a way to either require or strongly sugge

[2017-11-10 15:53] kirrg001 commented on #525
Some additions:

If we add the CLI version checks explained above, we remove the knex-migrator dependency from the CLI (see #505) and release a new version, then we could publish a tiny blog post that people should update their CLI to the latest, otherwise they can run into problems.

---

We won't add any backwards compatible changes to knex-migrator v3 - if you don't update your CLI and ignore r

[2017-11-10 17:16] kirrg001 commented on #519
@acburdine I'll take this bug over.

[2017-11-10 18:15] kirrg001 commented on #496
https://github.com/TryGhost/Ghost-CLI/issues/496#issuecomment-339012423

This sounds like a different report and i can reproduce this when i remove my config file in the root folder. Maybe you have removed the config by accident file before running `uninstall`? @ErisDS

---

Running multiple instances with different ports should be fixed via #526.

[2017-11-10 21:02] acburdine commented on #503
Closed by #505

[2017-11-10 21:02] #503 closed

[2017-11-12 12:05] wookayin opened #531 "ghost uninstall: DO NOT DESTROY EVERYTHING"
### This issue is a

* Feature Request

### Summary

`ghost uninstall` removes everything in the ghost directory, including `.git` or any other additional files that were not created by Ghost.

The uninstall command runs as follows. It is not supposed to remove any files that are not a part of ghost instance, mentioned nowhere.

[code]

### Steps to Reproduce (for a bug report)

(In a ghost dir, e

[2017-11-13 10:24] kirrg001 commented on #531
I think the warning is quite clear, it removes everything in this folder including your content. You can backup your data before running uninstall.

What is the use case to transform the Ghost installation folder into a git folder?

[2017-11-13 15:52] mskian opened #533 "SSL issue on New Ghost site"
### This issue is on Ghost CMS SSL Installation

- Bug Report

## SSL issue

Hey I found some issues on Let's Encrypt SSL
I Install Let's Encrypt SSL While installing Ghost but the ISSUE is it works fine on NON-WWW version & Display SSL Warning + NET::ERR_CERT_COMMON_NAME_INVALID Error
SSL Working fine on NON-WWW Version
Does it install SSL for given URL or for both WWW & NON-WWW?
Is there any sol

[2017-11-13 16:19] acburdine commented on #450
After a conversation with another user yesterday, it looks like the migration issue is related to permissions - e.g. if your directory permissions aren't setup correctly you can run into the "no MigratorConfig.js file exists" issue.

[2017-11-13 16:21] ErisDS commented on #533
Hi @mskian,

Ghost-CLI will setup SSL certificates for the domain you configure as your Ghost domain. It does not setup SSL for any other domains or subdomains, therefore it would not setup an SSL certificate for `www.` or `mail.` or any other subdomain you might think of.

If you want certificates for any other domains you'll need to do configure them yourself. You can either do this using the [a

[2017-11-13 16:21] #533 closed

[2017-11-13 16:25] acburdine commented on #531
@wookayin so I can see only removing the folders that the ghost installation creates. But, folders like content/versions/system ARE part of the instance, hence why `ghost uninstall` removes them.

I second @kirrg001's question though - what's the use-case for storing a ghost instance in git?

[2017-11-13 16:54] jamesfacts commented on #533
FYI, I wrote a quick tutorial explaining the process of manually issuing a www cert and configuring the redirect: https://jamesfacts.com/configuring-ghost-and-ssl-with-a-www-redirect/

[2017-11-13 17:03] mskian commented on #533
@jamesfacts @ErisDS  thanks for your Quick response let me and Update here :)

[2017-11-13 17:23] mskian commented on #533
Thanks a Lot Fixed :100:  :+1:

[2017-11-13 17:24] jamesfacts commented on #533
You're welcome, I'm glad it helped!

[2017-11-13 18:27] gompa commented on #515
hmm i cant reproduce this anymore,
i think it was a combination of a dated node install and ghost-cli not being able to login as root

[2017-11-13 19:12] kirrg001 commented on #515
@gompa Thanks for coming back.

We can re-open this issue as soon as there is a new report and clear steps to reproduce.

@acburdine Feel free to re-open if you know how to reproduce or if you know what it is.

[2017-11-13 19:12] #515 closed

[2017-11-13 19:16] wookayin commented on #531
Hi all, thanks for your response.

I was using git to keep track of the changes of a ghost instance, including **the sqlite3 database file** and some miscellaneous contents (*configuration*, themes, etc.). I admit that this would be not a standard case, but why not :) ?

Having said that, I first understood the warning message as it is going to remove all content related to the Ghost instance. I p

[2017-11-13 22:16] pascalandy commented on #516
Hi Hannah,

I looked for the instructions over https://docs.ghost.org/docs/supported-node-versions but didn't find any workaround for Node-8.

I run these instructions to install Ghost

[code]

Any workaround advice to share?
Thank you for everything!

[2017-11-13 22:36] acburdine commented on #531
That's fair - feel free to submit a PR and I'll get to it when I get a chance.

[2017-11-13 22:38] acburdine commented on #516
@pascalandy what exactly is the issue you're seeing? As long as you're on node 8.9, you should be fine.

There's a check going out in the next version of the CLI that should hopefully fix the original issue though.

[2017-11-13 22:47] pascalandy commented on #516
Just found the issue.
I was running node `8.9.0` but I have to run `8.9.1`. It's all good now :)

[2017-11-14 01:42] #519 closed

[2017-11-14 02:01] #524 closed

[2017-11-14 13:14] kirrg001 commented on #496
This should be fixed via https://github.com/TryGhost/Ghost-CLI/pull/526. Closing. @ErisDS feel free to open a new issue for https://github.com/TryGhost/Ghost-CLI/issues/496#issuecomment-343546935.

[2017-11-14 13:14] #496 closed

[2017-11-15 23:20] #525 closed

[2017-11-16 02:38] vikaspotluri123 commented on #514
@Windyo do you think this is [this](https://docs.ghost.org/docs/troubleshooting#section-general-update-error) enough? If not, feel free to suggest edits (there's a button / link near the top right of the page)!

[2017-11-16 02:41] #531 closed

[2017-11-16 03:14] vikaspotluri123 opened #538 "Global directory command"
The basic idea is to add the `--dir | -d` option as a global option, similar to `-D | --development` and `-V | --verbose`.

One of the goals for this (outside of convenience) is to abstract permission-checking out of specific commands so there's one less thing to worry about per-command, and hopefully will also help make debugging easier for people who are installing ghost on an established system

[2017-11-16 08:15] esafak opened #539 "sqlite3 does not get installed"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

ghost-cli does not install sqlite3, preventing proper installation of ghost itself when sqlite3 is used. However, if I manually install sqlite3 (following a #442 [comment](442#issuecomment-336343249)) from the `/usr/lib/node_modules/ghost-cli/node_modules` folder ghost installs properly.

### Steps to Reproduce (for a bug re

[2017-11-16 10:07] Windyo commented on #514
@vikaspotluri123 Seems to require a Readme account.

I would just change

If you upgraded with Ghost-CLI and something went wrong, you can always do
ghost update --rollback
To revert to the previous version, and get a working install again.

To

If you upgraded with Ghost-CLI and something went wrong, you can always do
ghost update --rollback
To revert to the previous version, and get a working in

[2017-11-16 10:07] #514 closed

[2017-11-16 13:06] acburdine commented on #539
@esafak I added a fix that will be released in Ghost-CLI 1.3.0 here shortly that should fix this issue.

Going to close this for now, if after testing with Ghost-CLI 1.3.0 you still run into this issue let me know and we can reopen this :)

[2017-11-16 13:06] #539 closed

[2017-11-16 19:13] acburdine commented on #442
Gonna close this for now as it _should_ have been fixed by #505. If you run into the same issue with Ghost-CLI 1.3.0 - comment and we can reopen this :)

[2017-11-16 19:13] #442 closed

[2017-11-16 19:15] acburdine commented on #433
@maks123 is this still an issue? There was some migration changes added in Ghost-CLI 1.3.0 - if you're still having the problem let me know :)

[2017-11-16 19:21] acburdine commented on #434
@prashanthmadi that approach wouldn't work, no. Gonna close this issue though as it's related to Ghost and knex-migrator itself, see https://github.com/TryGhost/knex-migrator/pull/74.

[2017-11-16 19:21] #434 closed

[2017-11-16 19:28] acburdine commented on #418
Gonna close this issue as we made several improvements to how knex-migrator is run by the CLI in the last release. If the issue still persists after updating to Ghost-CLI 1.3.0 comment and we can reopen the issue :)

[2017-11-16 19:28] #418 closed

[2017-11-16 19:44] acburdine opened #540 "Investigate using systeminformation to have a more unified/reliable way of determining system information"
https://github.com/sebhildebrandt/systeminformation -> could replace some of our various shell calls for system data.

[2017-11-16 19:46] acburdine commented on #415
@softcraftsman are you still having this issue?

[2017-11-16 19:50] #267 closed

[2017-11-16 23:54] vikaspotluri123 opened #541 "Road to 💯 - Tests"
Here's an abstract list of things the cli does, and how well they're tested (via unit tests)

### Extensions:
- [x] MySQL
- [x] Nginx (#523, #542)
- [x] Systemd (#544)

### Commands:
- [x] buster
- [x] install
- [x] log (#545)
- [x] ls
- [x] migrate
- [x] restart
- [x] run
- [x] setup (#559)
- [x] start (#560)
- [x] stop (#582)
- [x] uninstall (#585)
- [x] update
- [x] version

### Tasks:
- [x] en

[2017-11-18 17:35] #511 closed

[2017-11-18 17:43] acburdine commented on #500
@Vadorequest can you try this again with the latest ghost-cli? there were some migration fixes in that version that should hopefully fix your issue.

Ultimately I'm gonna close this though - as if it doesn't work after that it's likely related to the fact that you're trying to update ghost within a docker image, which (technically) isn't supported. Instead you should likely swap out the image for

[2017-11-18 17:43] #500 closed

[2017-11-18 17:45] acburdine commented on #497
Gonna close this issue as some changes in Ghost-CLI 1.3.0 removed the need for the "two versions of node" check, and thus the error.

If you're trying to use ghost-cli extensions then a yarn install won't work (unless you set the prefix to `/usr`), but for most cases it should work fine.

[2017-11-18 17:45] #497 closed

[2017-11-18 17:48] acburdine commented on #482
This is related to the fact that Ghost-CLI currently doesn't handle multiple languages - see #382.

The `id: No such user` error message is output in a different language, which the CLI can't check correctly, and therefore the issue occurs.

Gonna close this issue in favor of that one.

[2017-11-18 17:48] #482 closed

[2017-11-18 19:19] acburdine commented on #508
As suggested by @vikaspotluri123 -> a better way to do this is: `<foldername>_environment` -> I think it's clear enough as to what exactly it is. If people use `/var/www/ghost` as the folder then I think it works. Will get working on fixing this.

[2017-11-19 04:56] abhinavdasin commented on #481
Atlast Ghost-Cli is updated and ssl issues are fixed at promptly, [wishes](wishes.in.net) to the team who put this effort to bring best experiences to ghost users.

[2017-11-19 14:11] ErisDS commented on #508
Can we use abbreviated env names for prod & dev, so if my folder is `ghost` I get `ghost_prod` not `ghost_production` :D

[2017-11-20 12:23] #508 closed

[2017-11-20 12:54] #481 closed

[2017-11-20 12:55] acburdine commented on #481
Added a `--no-restart` option to `ghost update` that will be released with the next version 👍

[2017-11-22 11:58] Khangeldy commented on #501
In my case, this actually open my site `sudo nodemon --watch content/themes/[theme name]/index.js  -e hbs,js,css`.  But ghost not updates on changes. Another problem appear when i assign owner of content/ folder to ghost user.  My Atom could not save file after changes. In this case `chmod -R 777` resolve it. Then gulp throw error with permission issues. So i  used sudo with it. Maybe create more

[2017-11-22 14:23] kirrg001 opened #551 "Corrupt `.ghost-cli` file"
## Summary

[code]

The existing `.ghost-cli` file only contained this:

[code]

Both the cli version and the ghost version were not part of this file, which is required for [this line](https://github.com/TryGhost/Ghost-CLI/blob/master/lib/commands/update.js#L20).

Currently we have no idea why the `.ghost-cli` file missed specific keys.

It might be useful to auto fix broken/corrupt `.ghost-cli`

[2017-11-22 15:17] vikaspotluri123 commented on #551
I don't have time to work on this right now, but I do have a couple of thoughts
 - The ghost version can be determined by reading `current/package.json`
 - I don't see a good way to determine the CLI version that was installed. Given this, it might be best to fall back to `1.3.0` so all migrations can run if necessary - either they have already run so they won't need to run again, or they haven't

[2017-11-22 21:33] vikaspotluri123 opened #552 "[Migrations] Failure when a domain wasn't setup via CLI"
# Problem

There are 2 instances - one had ssl setup through the CLI pre 1.2.0 and the other had it setup elsewhere. The CLI is upgraded to 1.3.0, and `ghost update` is run for the CLI-setup domain. Everything works (🎉). `ghost update` is run for the no-CLI-setup domain. It fails:

<details><summary>no-CLI-ssl Log</summary><pre>
user@user-ghost:/var/www/other$ sudo ghost upgrade
✔ Checking for ava

[2017-11-23 02:08] jeffreywyman commented on #501
I found that my site URL in `/opt/bitnami/apps/ghost/htdocs/config.production`  was missing "http://" and when I changed that I resolved the error by re-running ghost update --force

[2017-11-23 02:52] vikaspotluri123 commented on #501
@Khangeldy when it comes to theme development, your best bet is to install ghost locally (`ghost install local`) and run it locally (`ghost start -D`). Any changes you make to your theme will show up because caching is disabled. When you install locally, you don't need to mess with permissions - you will be running the process as your own user so permissions issues shouldn't be a thing.

I'm not s

[2017-11-23 10:06] Khangeldy commented on #501
@vikaspotluri123  I am getting same error like this issue. When i start ghost start -D i got `Ghost process exited with code: 0` . I am already installed ghost locally.  And it's [tutorial](https://docs.ghost.org/v1/docs/install-local) saying that to create ghost user and gain folder owner to him. Under developing theme section .

[2017-11-23 10:42] kirrg001 commented on #501
@acburdine

This looks like a mixture of reports.

This should be fixed!?

Not sure how it's possible to enter a URL without protocol, there is a [url validation](https://github.com/TryGhost/Ghost-CLI/blob/master/lib/commands/config/advanced.js#L25). If it was manually edited cc @jeffreywyman, the CLI could detect a incorrect url format.

---

@Khangeldy Hard to guess why you are running into the

[2017-11-23 18:37] acburdine commented on #495
Docs have been updated, blog post published with more information about this bug & how to fix, so this is (finally 😛) done.

[2017-11-23 18:37] #495 closed

[2017-11-23 19:00] acburdine commented on #432
`ghost log` will output both currently - the non-error log contains both normal logs _and_ error logs, due to the way ghost-ignition (and bunyan underneath it) is set up.

Because of this, it might make more sense to have an `--error` flag that will _only_ show the error messages?

[2017-11-23 19:02] #301 closed

[2017-11-24 01:43] OllieCo opened #554 "Cron SSL not working"
Hi, I am having issues with my site. I have received help from Slack which has been amazing, but we hit a snag with the cron SSL.

We did the SSL migration correctly, and I was told to raise a ticket with the following information:

[code]
[code]
[code]

The context of the original issue was that my SSL certificates were not migrating. This lead to a mass of issues including permission issues, ngn

[2017-11-27 10:51] kirrg001 commented on #554
I installed a ssl blog with 1.1.3. Then updated to 1.3.0 and ran `ghost migrate`.

27 0 * * * "/home/kirrg001/.acme.sh"/acme.sh --cron --home "/home/kirrg001/.acme.sh" > /dev/null

(`sudo crontab -l` shows the same)

And shouldn't this cron point to /etc/letsencrypt?

[2017-11-29 16:16] #432 closed

[2017-11-30 13:06] marc101101 commented on #522
`ghost install --no-setup-linux-user`

should slove it.

[2017-11-30 23:08] acburdine commented on #552
Had a chat about this with @ErisDS today - this is actually a pretty important bug to fix. Gonna get this fixed tonight 😄

[2017-12-01 01:35] vikaspotluri123 commented on #457
This is on my radar but I'm not sure when I will be able to get to it. This is what I'm thinking needs to be done:

-  Add global option (--no-color) which defaults to false
-  Pass info to UI constructor ([line 175](https://github.com/TryGhost/Ghost-
CLI/blob/master/lib/command.js#L175))
-  Add color property to UI class
-  Check if should be colorful ([line 245](https://github.com/TryGhost/Ghost

[2017-12-01 10:35] ErisDS commented on #468
cc @sebgie & @kirrg001

I know there's a lot of active work going on here, which I'm super excited about! I wanted to flag up that we had a chat about this yesterday in a wider meeting about backups where we ended up talking about whether Ghost should have a backup mechanism.

It made me realise that there are a couple of different things that `ghost backup` could possibly do.

Where we are:

The

[2017-12-01 12:38] sebgie commented on #468
From: https://itsfoss.com/tar-vs-zip-vs-gz/

- .tar == uncompressed archive file
- .zip == (usually) compressed archive file
- .gz == file (archive or not) compressed using gzip

We are probably looking for `.tar.gz`?

[2017-12-01 13:05] #552 closed

[2017-12-01 13:15] vikaspotluri123 commented on #468
I have some thoughts on this (and also some explanations since I created the initial PR) which I'll outline ASAP - I have a couple exams today, so I'll [hopefully] respond tonight ( 15+ hrs from now)

[2017-12-01 15:44] kasbah opened #557 "Failed to connect to bus: No such file or directory"
### This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary

### Steps to Reproduce

1. Install ghost-cli on a fresh Ubuntu 16.04
2. Run `ghost install`, watch it fail at the end when starting with:

[code]
try `ghost start`
[code]

### Technical details (will be automatically output by Ghost-CLI if an error occurs):

* OS: Ubuntu 16.04
* Node Version: v6.12.0
* Ghost-CLI Version: 1.4

[2017-12-02 06:21] vikaspotluri123 commented on #468
Alright, I'm free! :smile:

Something I'd like to reiterate (although based on what I've seen over the past however-long I've been active with ghost I don't think it's necessary) is I'm super open to change. I'm no expert in ghost, and I'm fairly new here, so I might be not be following your standards 100% 😆

Sidenote: Work on the PR related to this started around 3 months ago, so I don't fully re

[2017-12-02 19:17] vikaspotluri123 commented on #457
So it turns it [chalk](https://www.npmjs.com/package/chalk#chalksupportscolor) (the upstream library ghost-cli uses to colorfully log) already supports this - add the `--no-color` flag, and you shouldn't have any extraneous characters. Can you verify this is works and achieves what you're trying to do @SparkyDoosan?

[2017-12-04 12:05] kirrg001 commented on #468
There are two disadvantages i can see using Ghost's exporter.

1. Currently Ghost's exporter does not export clients and tokens, see https://github.com/TryGhost/Ghost/issues/8719. That means it needs to be documented for the backup command. Furthermore, importing a backup as JSON via the admin client regenerates the passwords - you won't be able to login into you blog, so it's required to have mai

[2017-12-04 14:58] nsuchy commented on #461
@skluthe I had the same issue I quite literally copied and pasted `"running": "<environment>"` into the file and restart worked fine.

[2017-12-04 18:54] vikaspotluri123 commented on #468
I'm not too familiar w/ database exports, so I can't say much - all I can say is I just realized w/ sqlite3, there's no need to export the database, since we can just add the db file to the archive

I know the same assumption was made for git (#524 - the user said they were running Ubuntu 16.04) - however, tar is used by many more applications than git. If we end up using shell tar, do you think i

[2017-12-04 20:10] kirrg001 opened #562 "Show help output when `ghost update` fails"
If i run `ghost update` and the database migrations fail, i am not getting a hint to run

`ghost update --rollback`

It would be great to show a little hint on the bottom.

CLI: master
Ghost: latest

[2017-12-05 09:16] silviofdez opened #563 "[BUG] updateCheck disallow non-interactive setup"
https://github.com/TryGhost/Ghost-CLI/blob/ff5e4ad9c30e75a10134741f96de31642123bce8/bin/ghost#L14

From ghot-cli 1.3.0 on wards, there is no way to proceed with unattended installations (`--no-prompt`) when a newer version of ghos-cli is detected. It could be useful in some circumstances but, under different ones, it should be avoidable.

I.E. when trying to install you need to pass `ghost` a lot

[2017-12-05 12:48] kirrg001 commented on #562
Will take a look.

[2017-12-06 19:56] arvindvenkataramani commented on #190
My domain is correctly setup (A, CNAME) and I'm still getting this error:

Message: Your domain name is not pointing to the correct IP address of your server, please update it and run `ghost setup ssl` again

[2017-12-07 09:23] davidfurlong commented on #450
I used the digital ocean one click install (https://www.digitalocean.com/community/tutorials/how-to-set-up-the-digitalocean-ghost-one-click-application-for-ubuntu-16-04), and got this error on step 4:

[code]

[2017-12-07 09:24] kirrg001 commented on #450
@davidfurlong
See https://docs.ghost.org/docs/troubleshooting#section-task-execute-is-not-a-function.

[2017-12-07 09:28] davidfurlong commented on #450
@kirrg001 Thanks, I tried doing that. So I can't update? I am using the vanilla digital ocean one click install droplet so I expect most people setting up to have this issue?

[2017-12-07 09:30] kirrg001 commented on #450
@davidfurlong You can update your blog if you upgrade your CLI version to >= 1.3.0 (or simply latest).

[2017-12-07 11:23] kirrg001 commented on #450
@davidfurlong Cool that it worked. Can you please notify the docker image contributor?

[2017-12-11 16:02] ErisDS opened #565 "`ghost -v` breaks programatic upgrade"
If I run `ghost -v` I get:

[code]

This forces a prompt.

If I do `ghost -v --no-prompt` it still prompts me.

I am using `ghost -v` to programmatically check if I need to update Ghost or Ghost CLI and I'm now unable to detect that or update blogs, because there's a message in the way that is telling me to update 🙈 .

[2017-12-11 16:04] acburdine commented on #565
Yeah - I guess the update check should actually be moved further down into the CLI boot stack, so various commands can "opt out" of the check.

Will work on that soon :)

[2017-12-11 16:37] ErisDS commented on #565
For clarity:

`ghost -v` `ghost --version` `ghost version` `ghost help` & `ghost --help` are all outputting this message, but `ghost` on it's own does not.

This is also related to https://github.com/TryGhost/Ghost-CLI/issues/563, in that not only should these commands not be outputting a prompt, but also `--no-prompt` is not respected so there's no way to programmatically interact.

I'm not reall

[2017-12-12 04:28] #565 closed

[2017-12-12 04:29] acburdine commented on #563
Closed by #566

[2017-12-12 17:41] kashura opened #567 "Database migrations error when upgrading Ghost"
When upgrading from 1.15.1 to 1.18.4 I encountered the following issue that I haven't seen before. I am now getting a 502 Bad Gateway error and even if I rollback I still get a 502.

[code]

### Debug Information:
* Node Version: v6.11.2
* Ghost-CLI Version: 1.0.3
* Environment: production
* Command: 'ghost update'

[2017-12-12 17:51] acburdine commented on #567
@kashura you're running an outdated version of Ghost-CLI. This issue has since been fixed, update your Ghost-CLI version and you won't get this error 😄

[2017-12-12 17:51] #567 closed

[2017-12-12 23:43] tianon commented on #563
Ran into this same issue with the latest release -- Docker official image builds of `ghost` started failing due to this prompt being displayed even in the non-TTY case (where stdin is even closed, which is the only reason it fails instead of simply hanging AFAICT).

In digging in the code, I found that this prompt is always enabled for the subcommands which #566 limited it to (regardless of the va

[2017-12-13 00:59] acburdine commented on #563
@tianon that’s a fair point - I’ll push a new fix. Sorry for the trouble!

[2017-12-13 01:12] tianon commented on #563
Thanks @acburdine, you're a hero! :heart:

[2017-12-13 02:43] kashura commented on #567
@acburdine  Thanks for a quick reply. I was able to roll back to Ghost 1.15.1, but I get this error trying to update CLI. I am hitting a wall with Google.

[code]

[2017-12-13 02:48] acburdine commented on #567
@kashura it looks like the new CLI version installed fine, based on that output.

[2017-12-13 02:59] kashura commented on #567
@acburdine oops, didn't include the version check after trying to update CLI

[code]

[2017-12-13 11:56] acburdine commented on #567
@kashura so I think I have an idea as to what's going on - but it's hard to remotely debug through a github issue 😉 Would you mind hopping over to ghost's slack channel? (https://slack.ghost.org) -> you can get more immediate help there.

[2017-12-15 09:41] xih commented on #281
Hi,

I've been stuck on this issue for a while now.
`ghost --version
Ghost-CLI version: 1.4.1
Ghost Version (at ~/Desktop/ghost/theme): 1.19.0`

`which ghost
/usr/local/bin/ghost`

`npm root -g
/usr/local/lib/node_modules`

`node --version
v6.12.2`

`npm --version
5.6.0`

I've tried using nvm, but then it gave me the same error or Error occurred running command: 'yarn install --no-emoji --no-progr

[2017-12-15 15:35] LINKIWI opened #570 "CLI update's yarn invocation fails to respect ~/.npmrc"
`ghost-cli`'s `update` operation invokes `yarn` to fetch the remote tarball. However, this fails to respect the local user's `~/.npmrc`. This is especially problematic if the config file passes along authorization parameters `always-auth` and a registry auth token.

In the case of private registries which require all requests to be authenticated, this causes `ghost-cli update` to fail with the fol

[2017-12-15 19:38] ChaosCA opened #571 "Stack Fail after update"
### This issue is a

* [ x] Bug Report
* [ ] Feature Request

### Summary

After running a ghost update, it failed due to migrations it couldn't run in the pre 1.1.13 CLI. So I updated the CLI and tried to run the update again. However now ghost will not start. Attempts to `ghost update --force` and `ghost update --rollback` result in a Stack Fail.

[code]

### Technical details (will be automatic

[2017-12-15 19:43] ChaosCA commented on #571
Also note when trying to run with `ghost run`. I'm not sure how to get knex-migrator to run.

``
The `ghost run` command is used by the configured Ghost process manager and for debugging. If you're not running this to debug something, you should run `ghost start` instead.
Running sudo command: node current/index.js
[2017-12-15 19:41:11] ERROR

NAME: DatabaseIsNotOkError
CODE: DB_NEEDS_MIGRATION
ME

[2017-12-15 19:45] vikaspotluri123 commented on #571
Hey @ChaosCA 👋 Can you reach out to us on [slack](slack.ghost.org)? This looks like a generic user issue, rather than a bug 😄

Sidenote: `ghost migrate` runs CLI migrations, while `ghost setup migrate` runs database migrations

[2017-12-15 19:45] thilux commented on #460
I have ghost-cli@1.4.1 and still have this problem. To bypass it, I had to run ln -sf /usr/bin/mysql /usr/bin/mysqld as root.
Debug Information:
    Node Version: v6.12.2
    Ghost-CLI Version: 1.4.1
CentOS 7 here.

[2017-12-15 19:49] ChaosCA commented on #571
@vikaspotluri123 I figured I'd post it here since its a failure when updating, but okay I'll try there.
Would you suggest running ghost setup migrate?

[2017-12-15 19:51] #571 closed

[2017-12-16 11:21] theflofly commented on #562
@kirrg001 Thanks for this issue, I was struggling because of a failed migration until I saw your comment about `ghost update --rollback` that solved the problem.

[2017-12-16 12:29] mheland commented on #461
@gcochard confirmed, after a reboot on DigitalOcean VM the Ghost CLI does not find the running Ghost instance. Your fix works.

[2017-12-21 17:21] temabu opened #572 "Latest update has broken Ghost"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

### This issue is a bug report (I think)

* [X] Bug Report

### Summary

* OS: Linux Ubuntu 16.04 LTS
* Node Version:
* Ghost-CLI Version:
* Environment:
* Command:

After running the last CLI update - ghost is now broken:

In my ghost directory /var/www/ghost I can

[2017-12-22 09:51] oschade opened #573 "Ghost-Update wanted to migrate a mysql-server, instead of sqlite"
Hello,
I wanted to update my local ghost installation. I got a migration error. It seems, that the update-process wants to connect to a mysql server, but my installation just using sqlite. How can I fix that?

Here's the output of my console:

`√ Checking for available migrations
√ Checking for latest Ghost version
i Downloading and updating Ghost [skipped]
i Stopping Ghost [skipped]
√ Linking lat

[2017-12-22 15:16] ptallen63 commented on #572
I had the exact same issue...
Got some tips in the slack channel for a quick fix. This is what I did:

1) rolled it back w/ `ghost update --rollback`
2) updated npm install -g ghost-cli
3) forced the update with `ghost update --force`

This seemed to get me up and running again. Interested to hear what happened.

[2017-12-22 17:28] vikaspotluri123 commented on #573
Hey @oschade 👋 you probably need to specify you want to use the development config - `ghost update -D`

[2017-12-22 17:34] oschade commented on #573
Thank you for your hint, @vikaspotluri123
but the same error occurred.

[2017-12-22 17:36] vikaspotluri123 commented on #573
Can you reach out on [slack](https://slack.ghost.org) for faster / easier debugging 😄

[2017-12-23 02:45] lmuzquiz commented on #450
Im getting the exact same error as @davidfurlong , bum i am not trying to update. Im doing a fresh new ghost install on a fresh new folder.

[2017-12-23 15:37] vistaing commented on #572
I'm suffering from the same problem, after updated to 1.19.0.
If I run `ghost update`, here it comes:

✔ Checking for available migrations
Running sudo command: mkdir -p /etc/letsencrypt
Running sudo command: ./acme.sh --install --home /etc/letsencrypt
Running sudo command: /etc/letsencrypt/acme.sh --issue --home /etc/letsencrypt --domain enoshimadon.com --webroot /var/www/ghost/system/nginx-root

[2017-12-27 02:01] savurself11 opened #574 "update ghost-cli but still its version is 1.1.1"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

### This issue is a

* [v] Bug Report
* [ ] Feature Request

### Summary

If this is a bug, double-check and make sure there's not already an existing issue for it, then provide a quick summary of what error is occurring.

If this is a feature request, use this secti

[2017-12-27 10:38] ruiyeah opened #575 "command "ghost restart" doesn't work"
### This issue is a

Bug Report

### Summary

My VPS was rebooted by its supplier, and then I wanted to restart my ghost services.However, the command "ghost restart" doesn't work.

I have tried reinstall ghost-cli, but the error still existed.

### Steps to Reproduce (for a bug report)

`ghost restart`

### Technical details (will be automatically output by Ghost-CLI if an error occurs):

* OS: C

[2017-12-27 15:14] vikaspotluri123 commented on #575
Duplicate of #461 (it also contains temporary workaround info)

[2017-12-30 20:19] n-kolodziej commented on #431
Is there an ETA for this fix? Still cannot restart my Ghost instance.

[2017-12-30 23:26] brianewell commented on #570
I was told to comment on this issue with a problem I experienced while attempting to install Ghost using `ghost-cli` behind a corporate firewall.

Specifically, I got the following error message, `unable to get local issuer certificate`.  I received a similar message while running `npm install -g ghost-cli`, but easily fixed it by supplying my own cafile parameter to npm: `npm config set cafile /p

[2017-12-31 09:43] ericrange commented on #573
same problem here. you CAN NOT update ghost based on sqlite

[2017-12-31 09:49] ericrange commented on #573
for reproduce: install 1.17.0 with sqlite database and then try to update (with the latest ghost cli)

[2017-12-31 09:50] ericrange commented on #573
here is my config:
[code]

[2017-12-31 09:54] ericrange commented on #573
just for info: ghost update worked for the period of 1.0.0 => 1.17.0.
since the announced new database migrations, the update process fails.

[2017-12-31 09:56] ericrange commented on #573
maybe for ghost 2.0 a mongodb as databse? :D

[2017-12-31 16:36] blagoeres opened #576 "ghost ls returns error"
The blog works just fine, but when I run `ghost ls` it returns this error.

[code]

The command I used to install Ghost was:
[code]

- Ubuntu 16.04
- Node Version: v8.9.3
- Ghost-CLI Version: 1.4.1
- **Version** 1.19.0
- **Environment** production
- **Database** mysql
- **Mail** SMTP

[2017-12-31 17:01] blagoeres commented on #576
I think using dot(.) in `--pname` causes this error. This is how my `~/.ghost/config` looks:

[code]

[2017-12-31 19:21] acburdine commented on #576
Yup - that would be the cause. Thanks for catching this!

[2017-12-31 19:23] acburdine commented on #573
@ericrange probably not lol 😁 however thanks for the reproduction case - I'll look into this.

[2017-12-31 19:26] acburdine commented on #574
@savurself11 looks like you have two versions of ghost-cli installed, which is why you're still getting 1.1.1 when you run `sudo ghost version`.

Gonna close this now as I'm 95% sure this is an issue with your setup, please swing by our slack channel (https://slack.ghost.org) so we can debug this further :)

If it turns out that this is a bug with Ghost-CLI, we can reopen the issue.

[2017-12-31 19:26] #574 closed

[2017-12-31 19:30] acburdine commented on #572
hmm...this seems to be an issue for several people, unfortunately I haven't been able to reproduce it myself yet 😕

@temabu first off, `npm start --production` won't work with a Ghost-CLI install, if you want to run ghost in the current shell context, use `ghost run`.

Can you all provide information about your setup? Would be helpful to have these things:
1. What OS are you running?
2. Did you us

[2017-12-31 19:31] acburdine commented on #572
Possibly related: #573

[2017-12-31 20:05] acburdine commented on #570
(Leaving this as a note for myself when I get to implementing this)

Looks like I'm gonna have to reverse engineer the way yarn does things (starting point: https://github.com/yarnpkg/yarn/blob/master/src/util/request-manager.js), and implement all of the registry options as defined here: https://docs.npmjs.com/misc/config

Will get to this as soon as I can.

[2018-01-01 06:05] hao-lee commented on #414
On Fedora 25, the systemd unit file which Ghost creates in `/lib/systemd/system/` doesn't work. If I run `sudo systemd start ghost_xxx.service`, it will show error messages: `Unit ghost_xxx.service not found`. If I move it to `/etc/systemd/system/`, everything is OK.

I think the unit file location should be set according to the OS. For Fedora or CentOS, it should be `/etc/systemd/system/`. For Ub

[2018-01-02 12:09] jochenkirstaetter commented on #575
Hi, unfortunately this is not a duplicate of #461

Today, I wanted to upgrade my site from 1.18.0 to latest 1.19.x but it failed due to migration steps. But that's a different problem... As suggested, I upgraded ghost-cli to latest and since then I cannot run any commands that are related to ghost sites anymore.

`Debug Information:
    Node Version: v6.12.2
    Ghost-CLI Version: 1.4.1
    Enviro

[2018-01-02 13:06] kirrg001 commented on #575
@jochenkirstaetter

Looks like it's failing at this line:

https://github.com/TryGhost/Ghost-CLI/blob/bc6542b01766ae4d6651f430fdf4162586e5d033/extensions/systemd/systemd.js#L61

Is "example-com" the correct instance name?
What is the output of `ls -la system/files/`?

[2018-01-03 03:52] evilsupernasty commented on #572
I am having the same issue, though @ptallen63 fix did not work for me.

@acburdine

1. Ubuntu 16.04.2 x64
2. Production
3. MySQL

[2018-01-03 14:20] jochenkirstaetter commented on #575
Hi @kirrg001

Sorry for confusion, it's not that problem. I changed the domain here in the issue description. The original instance name is located below system/files/ and matches the information below /lib/systemd/system/

After a number of attempts and reading other issues here in the repo I finally moved the base folder of the blog to another location, ie. /var/www/example, and therefore to ano

[2018-01-05 07:14] travismiller opened #577 "Why is sudo used in the uninstall command?"
This makes it not possible to automate uninstall if the user does not have or need sudo.

If it is necessary, should there be a option to not use sudo? `ghost uninstall --no-sudo`

https://github.com/TryGhost/Ghost-CLI/blob/dd5d224f7fdf20c05346c0e6761145bed9c8e0fe/lib/commands/uninstall.js#L46-L48

[2018-01-05 09:05] acburdine commented on #577
The reason sudo is used is because, by default in production, an additional `ghost` user is created to run the Ghost server process. That user is then made owner of the content folder. Hence during uninstall, sudo is required to remove that content folder.

I can update that check there to also check if the content folder is actually _owned_ by the ghost user, but if it is owned by the ghost user

[2018-01-07 00:05] d4rkd0s commented on #567
Solution for those that don't want to find it in Slack is:
Ensure you are in the install dir (for Digitalocean its: `/var/www/ghost`)
Then run `sudo npm i -g ghost-cli@latest`
then run `ghost update` or the better `ghost setup` if you need to setup a domain, which is what I needed todo. 🎊

[2018-01-07 09:46] ericrange commented on #572
i dont know if there is a problem with sql.
but if u are using sqlite, the update process fails.
https://github.com/TryGhost/Ghost-CLI/issues/573
as i said, try to install ghost 1.0.0 with sqlite and then try to upgrade to 1.18.
you wont succeed.

[2018-01-07 13:55] acburdine commented on #414
@hao-lee the point of this issue _is_ to switch the location of the file to /etc/systemd/system 😄 there's just a couple of other things that need to be in place first in order for it to work.

[2018-01-07 13:58] acburdine commented on #563
@tianon apologies for the delay - I'll get a version out with this fix later today :)

[2018-01-07 21:37] acburdine commented on #577
@travismiller ^

[2018-01-07 22:38] #576 closed

[2018-01-07 22:44] #563 closed

[2018-01-07 23:19] acburdine commented on #573
quick question @ericrange -> is yours failing on windows or are you running on a *nix environment (macOS or Linux). I wasn't able to reproduce the issue locally on macOS, but it looks like @oschade's running on Windows - and if you are as well I can debug it from the Windows side of things to see if that's what's causing the issue.

[2018-01-07 23:22] acburdine commented on #575
@jochenkirstaetter quick question - what OS are you running Ghost on?

From the looks of it the OP is running on Centos 7, which may or may not have a different systemd layout than Ubuntu 16 (which Ghost-CLI targets), so if you're running on Centos as well I can help troubleshoot this better :)

[2018-01-07 23:47] acburdine commented on #563
@tianon The new version has been published as 1.4.2. The docker builds will probably break for this release (because the 1.4.1 version still contains the issue), but after fixing it this time the builds shouldn't break again. Sorry for the trouble!

[2018-01-08 08:07] oschade commented on #573
@acburdine
I'm running windows.

[2018-01-08 19:19] tianon commented on #563
Amazing, thanks so much @acburdine!! :heart: :heart:

[2018-01-08 19:43] travismiller commented on #577
@acburdine thanks for the clarification!

Using sudo in the default case (production) makes sense to me. Though, I do prefer your idea of detecting the ownership of the directory as a condition of using sudo.

Our use case is not well defined, but we're experimenting with a developer kit for developing multiple Ghost projects. Our developers would all be `darwin` and would not encounter this anywa

[2018-01-08 20:32] ericrange commented on #573
ubuntu 16

[2018-01-09 12:22] svikashk commented on #572
I had the same issue as well. Tried @ptallen63's solution, but didn't work at first. Tried it again few minutes later and it worked fine. Not sure what the route cause of the issue is though.

[2018-01-09 21:16] alexxsanchezm commented on #504
Just to for further users that may come up with this issue. I solve this issue in basically 5 steps

1. Uninstalling ghost-cli.
2. Removing cmdtest `sudo apt remove cmdtest`
3. Instaling yarn, [see for installing yarn](https://yarnpkg.com/en/docs/install)
4. Installing ghost-cli: `sudo npm i -g ghost-cli@latest`
5. Install ghost as usual `ghost install`, sudo is optional here.

[2018-01-10 06:40] thekyriarchy commented on #460
@thilux thank you! this is what I needed to get ghost working with mariadb since that is what centos prefers

[2018-01-10 07:00] thekyriarchy opened #583 "Ghost install fails at database migrations"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

### This issue is a

* [ x ] Bug Report
* [ ] Feature Request

### Summary

install failure

### Steps to Reproduce (for a bug report)

1. set up prerequisites
2. run install

### Technical details (will be automatically output by Ghost-CLI if an error occurs):

* OS

[2018-01-10 18:04] jochenkirstaetter commented on #575
Hi @acburdine

Nope, it's not running on CentOS but Debian Jessie in my case.
Just today I upgraded one blog located below /var/www to 1.20.0 without anything but can't touch the other blog below another users' home directory although permission bits are okay for "other" access.

Cheers!

[2018-01-11 03:46] vikaspotluri123 opened #584 "[Tests] define"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

### This issue is a

* [ ] Bug Report
* [ ] Feature Request

### Summary

If this is a bug, double-check and make sure there's not already an existing issue for it, then provide a quick summary of what error is occurring.

If this is a feature request, use this secti

[2018-01-12 19:40] kirrg001 commented on #583
I assume that your node symlink is wrong.
Please ensure that the location of `which node` is part of your `$PATH` variable.

Closing, not a CLI bug. Please swing by our [slack channel](https://slack.ghost.org) for further help.

[2018-01-12 19:40] #583 closed

[2018-01-12 20:10] kirrg001 commented on #557
Hey!

`dbus` is [preinstalled on Ubuntu 16.04](https://packages.ubuntu.com/xenial/allpackages).

Closing - we can re-open if it turns out documentation is missing.

[2018-01-12 20:10] #557 closed

[2018-01-12 20:22] kirrg001 commented on #522
@yousaid Where is your blog installation located?

[2018-01-12 20:33] kirrg001 commented on #433
@maks123 didn't come back. Closing.

We can always re-open.

[2018-01-12 20:33] #433 closed

[2018-01-12 20:36] kirrg001 commented on #415
@softcraftsman didn't came back for a reply. I assume it's solved. Closing for now.

We can always re-open the issue.

[2018-01-12 20:36] #415 closed

[2018-01-12 20:46] kirrg001 commented on #294
@acburdine Isn't that solved already?

[2018-01-12 20:56] kirrg001 commented on #282
Closing in favour of https://github.com/TryGhost/Ghost-CLI/issues/460.
We need to extend how we detect that nginx/mysql are installed.

[2018-01-12 20:56] #282 closed

[2018-01-12 21:20] kirrg001 commented on #463
I don't understand that. The running environment is default production if `config.production.json` exists. Development env has to be either specified via env param or the `config.development.json` contains `process: local` (or any other extension). I am confused 🙂

[2018-01-13 01:09] kasbah commented on #557
hi @kirrg001! Are you sure it is? The list you linked seems to list software that is available rather than preinstalled (e.g. 0ad, the game). I am almost certain it _is_ installed by default on the desktop images but not sure about server images.

Unfortunately I can't really recall which of my servers I was testing on, it may have been an odd config, but wouldn't it make sense to add a basic chec

[2018-01-13 03:18] vikaspotluri123 commented on #584
I _might_ end up poking at the travis API to see if I can compute averages rather than choosing an arbitrary number (per test). If I do end up doing that, this regex is useful: `/\(([0-9]{1,6})[a-z]{1,2}\)/`

[2018-01-13 03:38] acburdine commented on #577
Makes sense.

[2018-01-13 03:43] acburdine commented on #469
I guess we probably don't, now that I think about it.

[2018-01-13 03:50] acburdine commented on #463
Hmm....that's not a bad point - however if someone started a Ghost blog in production mode (`ghost start`) and _also_ had a development config, then ran `ghost start -D`, ghost wouldn't know to check whether or not the blog is already running in production. Might be a bit of an edge case, but still worth considering I think.

[2018-01-13 03:54] acburdine commented on #294
No, I left this open b/c we need a way to repair directory permissions (maybe as a part of ghost doctor or something)

[2018-01-13 11:33] kirrg001 commented on #294
Can we add this as subtask to #317 or https://github.com/TryGhost/Ghost-CLI/issues/47?

[2018-01-13 11:42] kirrg001 commented on #463
I think this can be covered be ensuring that the ports must be different?
If you use `-D` and no development config exists, simply use different port.
If you use `-D` and development config exists and it's the same than the production config, force a modification or similar.

Sounds like to me asking the configured extension can work as a possible solution here?
This issue is definitely high prior

[2018-01-13 14:34] kirrg001 commented on #47
1. extend or add ability to fix file/folder permissions for the user.
2. run ghost doctor automatically before certain commands (start/update/restart - maybe more) - prevention of running into errors -> if ghost doctor fails, it should error and suggests running `ghost doctor --fix`
3. be able to skip doctor execution (e.g. `--skip doctor`)
3. ghost doctor just detects whats wrong, doesn't do anyt

[2018-01-15 08:01] AileenCGN commented on #573
I was not able to reproduce this. Installed Ghost 1.17.0 on Ubuntu 16 with the recommended stack and following the [installation guide](https://docs.ghost.org/v1/docs/install). The update to 1.20.0 worked fine for me.

Ghost-CLI version: 1.4.2

[2018-01-15 08:26] ericrange commented on #573
can u try to upgrade vom 1.0.0?

[2018-01-15 09:40] kirrg001 commented on #460
Testing and research required to find out how we can detect that nginx/mysql is installed e.g. use `which`.

[2018-01-15 10:35] kirrg001 commented on #501
- [ ] Error message should be improved first

[2018-01-16 02:38] arjunmayilvaganan commented on #431
Is there a temporary work around for this? I thought of killing the `node` process & starting the instance via `ghost`.
But, even if the `node` server is `kill`ed, it seems to be getting back up again.

[2018-01-16 03:43] AileenCGN commented on #573
@ericrange updating from 1.0.0 to 1.20.0 with sqlite worked fine for me as well:

![image](https://user-images.githubusercontent.com/8037602/34970921-dfcca034-faa9-11e7-9591-73f78d7009a2.png)

Note: When installing Ghost@1.0.0 you'll first need to downgrade the CLI to <1.3.0 and once Ghost is installed, update it before you run `ghost update`.

Did you follow the recommended server setup as descri

[2018-01-16 07:23] AileenCGN commented on #554
@kirrg001 I tried to reproduce this case, using Ghost-CLI@1.1.3 and Ghost@1.18.0, then upgrading the CLI to 1.3.0 and the migration worked fine for me:

![image](https://user-images.githubusercontent.com/8037602/34976332-b15f56fa-fac8-11e7-8445-fc4c1d5372a3.png)

[2018-01-16 09:59] kirrg001 opened #587 "Optimise error messages"
This issue lists all the places where we have to optimise the error message.

- [x] https://github.com/TryGhost/Ghost-CLI/blob/1.4.2/extensions/nginx/acme.js#L52 - if i am running into an error here, the error properties from the original error are not taken into account and it shows me a too generic message (```{ Error: EACCES: permission denied, rmdir '/tmp/acme.sh/Neilpang-acme.sh-b6c2fc5/.gith

[2018-01-16 10:46] kirrg001 commented on #554
If i run the migration from 1.1.3 -> 1.3 and my root crontab looks like this before the migration

47 0 * * * "/home/kirrg001/.acme.sh"/acme.sh --cron --home "/home/kirrg001/.acme.sh" > /dev/null

47 0 * * * "/home/kirrg001/.acme.sh"/acme.sh --cron --home "/home/kirrg001/.acme.sh" > /dev/null

Then it won't work. I run `ghost update`, it succeeds and the new cron job (with the new acme location) d

[2018-01-16 10:56] acburdine commented on #554
Oh hmm...I wonder if something got run as root accidentally prior to the migration? that might be the reason the root crontab is configured.

[2018-01-16 11:08] kirrg001 commented on #554
Yeah wondered as well.

What do you think about this idea?
It might be good to check, if ssl is enabled, to check if the cronjob is configured correctly.

[2018-01-16 11:11] acburdine commented on #554
@kirrg001 yeah that's not a bad idea - the `ghost doctor` command hasn't yet been configured to pull doctor checks from extensions though - that would have to be done first as SSL support is an extension.

[2018-01-16 11:22] acburdine opened #588 "Improve setup command UX -> run as many steps as possible"
One of the pain points that we've seen experienced by several people is the fact that the `setup` command currently exits if any one of it's steps fails.

Using the official system stack with all steps enabled, here's the list of steps that get run in order:
- configure
- setup linux user
- setup nginx
- setup ssl
- setup mysql user
- setup systemd
- run database migrations
- start Ghost

Currentl

[2018-01-16 12:20] kirrg001 commented on #573
@ericrange Is [this](https://github.com/TryGhost/Ghost-CLI/issues/573#issuecomment-354594867) your production config (`config.production.json`)?

[2018-01-16 18:01] ericrange commented on #573
yes. so it shouldn't be? :D

[2018-01-17 11:18] AileenCGN commented on #554
I _think_ I know why we're having this issue.

To reproduce: I deleted my crontab as well as my root crontab and installed (after uninstall) Ghost@1.18.0 with Ghost-CLI@1.1.3 to check what exactly is happening.

Before 1.2.0 we were not running the acme scripts with `sudo`, after 1.2.0, we are.

See here before: https://github.com/TryGhost/Ghost-CLI/blob/9d502ef9cf0d1a1a2bb522568fc72d99fbc2fdff/ex

[2018-01-17 17:40] kirrg001 commented on #573
No should be fine. Could you please swing by our [slack community](https://slack.ghost.org) and leave a note in the `#help` channel? It's easier to investigate your problem in slack and then we can leave the result here.

[2018-01-17 22:00] vikaspotluri123 commented on #468
I might be beating a dead horse, but I just found out [tar is coming to Windows](https://blogs.technet.microsoft.com/virtualization/2017/12/19/tar-and-curl-come-to-windows/) so can definitely get away with using shell tar

[2018-01-18 17:49] deimidis commented on #575
I see Im having the same issue here. Trying to start the blog gave me the same error:

`Debug Information:
    Node Version: v6.12.3
    Ghost-CLI Version: 1.4.2
    Environment: production
    Command: 'ghost start'
An error occurred.
Message: 'unknown
'

Stack: Error: unknown

    at module.exports.sync (/usr/lib/node_modules/ghost-cli/node_modules/execa/index.js:303:26)
    at handleShell (/usr

[2018-01-19 05:15] AileenCGN commented on #554
@kirrg001 Can we close this in favour of #47 ?

[2018-01-19 05:25] AileenCGN commented on #575
Closing this for now as it doesn't seems to appear on the [recommended stack](https://github.com/TryGhost/Ghost-cli#recommended-stack). We can always reopen it again, when we're facing this issue on the recommended stack.

[2018-01-19 05:25] #575 closed

[2018-01-19 05:28] AileenCGN commented on #522
@yousaid Can you also please let us know, which OS you are running the Ghost-CLI from?

[2018-01-19 05:54] AileenCGN commented on #435
Closing this for now as it doesn't seems to appear on the [recommended stack](https://github.com/TryGhost/Ghost-cli#recommended-stack) and therefore is not high priority to fix. Community PRs are always welcome!

[2018-01-19 05:54] #435 closed

[2018-01-19 06:55] AileenCGN commented on #461
Closing this as it's a duplicate of #463
@kirrg001 Please reopen, if I'm wrong here.

[2018-01-19 06:55] #461 closed

[2018-01-19 09:09] groundhog2k opened #592 "ghost config --url overwrites server config (host+port)"
I try to run Ghost in a docker container. The port 8000 outside the container is mapped to 2368 inside the container. (like this: `docker run -d -p 8000:2368 ...` )

# Issue Summary
When i set the Ghost configuration with CLI tool `ghost config --url http://localhost:8000`, it will overwrite the server properties and set host to "127.0.0.1" and port to "8000".
The docker instance gets unreachable

[2018-01-19 11:19] kirrg001 commented on #554
Yeah i think so. If the doctor command detects wrong crons (for sudo or non sudo), then it will for now manually tell you what todo - no need to automate i think.

[2018-01-19 11:21] kirrg001 commented on #575
The only problem of this issue is that the error handling is not good, this is a little independent from the stack. I would link this issue in #587.

[2018-01-19 11:24] kirrg001 commented on #461
It's not really a duplicate. #463 is a summary of the referenced issues. This issue is already referenced in #463 (and some more). I think it's fine to close all issues which are referenced in #463 and leave a comment "covered by #463" or similar 👍

[2018-01-19 11:25] kirrg001 commented on #592
Hey!

Did you try `git config --ip 0.0.0.0 --port 2368 --url http://localhost:8000 --no-prompt`?

[2018-01-19 12:14] groundhog2k commented on #592
Yes, i already tried - `ghost config --ip 0.0.0.0 --port 2368 --url http://localhost:8000 --no-prompt`.
It will overwrite port with value from url. => port : 8000 :-(

[2018-01-19 12:18] kirrg001 commented on #592
That is probably a bug caused by [this code section](https://github.com/TryGhost/Ghost-CLI/blob/1.4.2/lib/commands/config/index.js#L56). A code improvement could be: if you pass `--port` together with `--url` we respect the port value in the url.

You can workaround this: simply edit your config file manually 😎

[2018-01-19 12:21] groundhog2k commented on #592
Thank you! I already found a workaround by using jq tool from cli to change properties of the config. :-)

[2018-01-19 22:39] deimidis commented on #575
Finally found the problem. I was using ghost before ghost-cli and created special service files. With the new ghost version, those service files collide with the ones that ghost generate and basically that made it don't work

[2018-01-20 05:50] jochenkirstaetter commented on #575
@AileenCGN - I don't think it's related to the supported stack but the documentation should be improved stating that the installation of Ghost shouldn't be located below a user's home directory, or in my case below another user's home directory.

/home/public/sites/ghost  <== doesn't work, if your daily account isn't "public"
/var/www <== works

Eventually, I might find some spare time to verify t

[2018-01-20 09:15] ErisDS commented on #575
@jochenkirstaetter We very much welcome any support or contributions in terms of debugging other stacks or determining minor changes that might have caused issues with other stacks. The CLI team is not able to provide support for problems happening outside the recommended stack at present and we've recently updated our [readme](https://github.com/TryGhost/Ghost-CLI#project-goals) to reflect this.

[2018-01-21 04:37] welkie opened #593 "Cannot use CLI on Node v9.x"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

### This issue is a

* [ ] Feature Request

### Summary

*If this is a bug, double-check and make sure there's not already an existing issue for it, then provide a quick summary of what error is occurring.*

Checked and did not see issue reported already among open i

[2018-01-21 06:53] acburdine commented on #593
This is intentional, see https://docs.ghost.org/v1/docs/supported-node-versions.

[2018-01-21 06:53] #593 closed

[2018-01-21 22:40] welkie commented on #593
@acburdine Thanks for the link, I see now why the version is pegged below 9.x.

[2018-01-22 03:11] AileenCGN commented on #47
Additional check to add from https://github.com/TryGhost/Ghost-CLI/issues/575#issuecomment-359157945:

- check installation folder (needs to be `/var/www`)

[2018-01-22 10:09] acburdine opened #594 "Running `ghost setup` should be (more) idempotent"
A user reported a case where they ended up with two systemd service files, one called `ghost_<ip address of blog>` and one called `ghost_<url of blog>`. Not for sure on how this happened, but based on the current code I have a theory:

- User runs `ghost setup`, gives ip address as url
- After a while, user runs `ghost setup` again, but gives the actual domain name this time

In this case, `ghost

[2018-01-24 18:56] thekyriarchy commented on #583
[code]

[2018-01-25 08:56] hchouhan opened #596 "Error related to MySQL when installing 2nd Ghost instance on a DigitalOcean server"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

### This issue is a

* [ ] Bug Report
* [ ] Feature Request

### Summary

After setting up the first site using Digital Ocean's Ghost installer, I tried to setup a 2nd Ghost installation. In the install process, I used the username and password of the mysql user "gho

[2018-01-25 13:07] vikaspotluri123 commented on #596
Hey @hchouhan 👋 Did you see the comment at the bottom of the DO Guide that said this?

`sudo chown ghost:ghost: /var/www/newsite`
Make sure the domain of the blog is pointing already to the ip-address of the Droplet
For MySQL username use: root
The MySQL password for root can be found in /root/.digitalocean_password
`nano /root/.digitalocean_password`
Enter a unique Ghost database name: ie. ghost_

[2018-01-25 16:28] AileenCGN commented on #47
@kirrg001 @acburdine

is this what we want to achieve for this ^ task:

![image](https://user-images.githubusercontent.com/8037602/35396194-8399a434-01ec-11e8-9a59-d3dce60cc243.png)

I will skip this task when it's installed locally.

[2018-01-25 19:10] thekyriarchy commented on #460
For me, ghost was able to detect mysql without dpkg, but not nginx

[2018-01-26 02:02] cmivxx opened #599 "Ghost CLI generic error when running `ghost start` but `ghost run` works just fine."
Popped into slack and noone was around, so I'm here.

Had 3 Ghost instances running just fine for quite a while without any problems.  Regularly did the updates, etc.  Today I went to move the DB to a new server as I am going to decommission the old one.  Old server is MySQL, new server is MariaDB, but they should work without issue.  Move all 3 databases, updated all 3 `config.production.json` fi

[2018-01-26 02:05] #599 closed

[2018-01-26 02:05] cmivxx commented on #599
Dupe of:  https://github.com/TryGhost/Ghost-CLI/issues/575

[2018-01-26 03:20] cmivxx commented on #575
I am having this exact same issue myself...  Didn't matter what I did, the damn thing kept dying on me.  Almost makes me want to swap back to WordPress while they get this sorted out.

However, just as I was about to give up, I frustratingly started restarting the server 3 times over and over, and it started to work again...   dammit.

TLDR> continually rebooting the VPS seems to somehow resolve t

[2018-01-26 11:47] acburdine commented on #575
@spruce if that indeed is the case, then I think #469 _should_ solve this?

[2018-01-26 11:48] spruce commented on #575
@acburdine I suppose it would.

[2018-01-28 18:18] ericrange commented on #573
ok after i installed the latest ghost-cli again and the knex-migrator to the "current" directory locally, it works for me (even with sqlite). the update process fail because there was something wrong with the "knex-migrator"... but i dont know what.

[2018-01-30 01:42] kirrg001 commented on #472
To nail down the problem of this issue, i would like to sum this up a little.

- `systemctl start [service]` triggers the target systemd service file
- the systemd service file triggers `ghost run`
- `ghost run` spawns a process to ghost
- the CLI waits till Ghost is started (IPC communication)
- but `systemd` in the meanwhile does not get a notification if the process was started via the CLI or d

[2018-01-30 03:26] acburdine commented on #472
So I just tried that node-systemd-daemon library (it wasn't around when I first tried messing around with the notify stuff), unfortunately it's got an optional dependency that requires `make` to be installed. There was a TODO comment to fallback to the `systemd-notify` shell command - however this shell command won't work because of https://github.com/systemd/systemd/issues/2739. The gist of that

[2018-01-30 08:32] AileenCGN commented on #541
When I run the tests locally, there's always one test that fails, but it's fine in Travis:

[code]

[2018-01-30 10:20] nevez opened #601 "linux ghost install fails on ghost user creation (probably locale-related)"
## This issue is a

* [x] Bug Report
* [ ] Feature Request

Please fill out this template, deleting where appropriate:

### Steps to Reproduce (for a bug report)

1. Run ghost install under linux in a non-english environment (i.e. spanish)
2. You get this error: ✖ Setting up "ghost" system user An error occurred. Message: 'id: «ghost»: no existe ese usuario

It could be related with the error mess

[2018-01-30 10:23] kirrg001 commented on #601
@nevez Hey!

Yeah this is not supported currently.
You would have to switch to your container language to english for now.

[2018-01-30 12:38] vikaspotluri123 commented on #541
@AileenCGN I _think_ it's because we haven't stubbed `os`; I'm thinking `os.platform() !== linux` evaluates to `true` locally for you.

I haven't hit this because I test with [WSL](https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux)  which is technically a linux platform

[2018-01-30 22:53] Bronek commented on #468
Hi there, just wanted to +1 for this feature :) Thank you for your hard work!

[2018-01-31 09:44] spruce commented on #463
I just stumbled over this problem myself. Why is there a need to run the same folder / instance in different config envs? Could you explain why there is a need for it?
As I understand https://12factor.net/config it should only be one config without a deployment target name in it. So it only should be config.json and everything needed in there (like process manager). If I want the same blog (backin

[2018-02-01 07:32] hchouhan commented on #596
@vikaspotluri123,

I assumed I was using the wrong password, but after trying various things it did not work. At the end what worked was by manually assigning all privileges of the new database to the ghost user.

[2018-02-01 09:37] acburdine commented on #573
Going to close this for now as it seems to have been fixed on the recommended stack - in a bit we can come back to this and, if it's still an issue, fix it for Windows.

[2018-02-01 09:37] #573 closed

[2018-02-01 11:37] mikkqu commented on #504
In my case /home/user/.config was not accessible from my user for some unknown reason.
So, this command fixed it for me:

`sudo chown -R user:user /home/user/.config`

[2018-02-01 15:29] acburdine commented on #601
Going to close this for now as it's related to #382. Will reopen later when we decide to work on/fix that issue.

[2018-02-01 15:29] #601 closed

[2018-02-02 06:08] Deliaz opened #605 "Import JSON backup with ghost-cli"
## This issue is a

* [ ] Bug Report
* [x] Feature Request

Hi,
What do you think about possibility to import JSON backup using `ghost-cli`? It will be useful in case of new installations when you want to import existing content along with user credentials (in case you want to keep the same user).
The current workflow for this seems to have one unnecessary step: creating new user right after insta

[2018-02-02 06:10] vikaspotluri123 commented on #605
Seems really similar to / duplicate of #468

[2018-02-02 09:46] acburdine commented on #605
Closing as a duplicate of #468

[2018-02-02 09:46] #605 closed

[2018-02-02 09:48] acburdine commented on #596
@hchouhan Just to clarify, when you said you used the same "ghost" username and password, did you look in your config.production.json of your first ghost instance and get the username and password from there?

If so, that is the cause of your issue. Setting up the "ghost" mysql user only gives the user access to the database specific to that one ghost instance. If you wish to set up a second ghost

[2018-02-02 10:53] #562 closed

[2018-02-02 11:40] kirrg001 commented on #472
Here is a little summary why we should not use `systemd-notify`.

### C binding `sd_notify`
Almost all available npm libs use a C binding to `sd_notify`. As we know C bindings can be very uncomfortable when switching node versions (depending on the ABI) or they require the user to install a compiler. We would like to avoid that.

### C binding `abstract_socket`

Some use the C binding `abstract_so

[2018-02-03 09:05] #501 closed

[2018-02-03 10:13] AileenCGN commented on #47
For the last task of the prioritised improvements, I will focus on this:

Todos:

### Ghost install
- [ ] install ghost outside of `/var/www/` e. g. the home directory
- [ ] change permissions for `others` in directories above the ghost installation and
    - [ ] check existing error messages, and maybe improve them
    - [ ] validate, that existing permission checks work on install command
    -

[2018-02-03 10:39] AileenCGN commented on #294
Note for later: We can detect incorrect permissions inside the ghost installations like this:

- `find ./ -type d \! -perm 775`
- `find ./ -type f \! -perm 664`

This can be implemented in a `ghost doctor` check.

[2018-02-03 11:04] #463 closed

[2018-02-03 11:05] acburdine commented on #449
Closed by #607

[2018-02-03 11:05] #449 closed

[2018-02-03 11:05] acburdine commented on #431
Closed via #607

[2018-02-03 11:05] #431 closed

[2018-02-03 11:05] acburdine commented on #430
Closed via #607

[2018-02-03 11:05] #430 closed

[2018-02-03 11:51] AileenCGN commented on #294
Really good explanation (for me): https://www.linux.org/threads/file-permissions-chmod.4124/

[2018-02-04 11:03] AileenCGN opened #615 "`--no-start` flag gets ignored when running `ghost install local`"
[placeholder] When running `ghost install local --no-start`, Ghost starts anyway.

[2018-02-04 13:29] AileenCGN commented on #294
The current state of the CLI is, that everything except for the `versions` folder gets installed with the correct permissions as requested in this issue.

With the `ghost doctor` improvements in #613 we will check for those file and folder permissions on `update` and `start` now and let the user know, how and if those need fixing.

[2018-02-04 16:48] #472 closed

[2018-02-04 16:56] AileenCGN commented on #294
After some testing with the new permission checks, it turned out that Ghost itself creates files with a `644` permission (e. g. log files). We decided to change the checks and allow `644` and `665` for files, and `775` and `755` for directories. The recommendation to the user is - in both cases - to change it to the stricter one.

[2018-02-04 17:15] #294 closed

[2018-02-05 19:01] lucistanescu commented on #211
It doesn't look like setting setting the `http_proxy` and `https_proxy` environment variables or setting the npm `proxy` and `https-proxy` config options do the trick as this thread or the documention point out.

I'm trying to install ghost on a system that can only access a proxy via IPv6. I installed a local squid proxy because npm couldn't take a link-local IPv6 address for the `proxy` options,

[2018-02-06 08:15] #541 closed

[2018-02-06 09:12] acburdine commented on #615
this is unfortunately a bit tricky to fix - needs some changes to the UI class before this can happen.

[2018-02-07 15:48] #577 closed

[2018-02-08 00:57] huuhaa commented on #382
You could probably add locale check at Ghost-CLI and give user information until this is fixed. Just saying cause have fighting against install issues also.

[2018-02-09 06:27] hao-lee commented on #414
After reading some document, I think Ghost create a symbolic link under `/lib/systemd/system/` is reasonable. `/etc/systemd/system/` contains the service that will be started at boot time and we can't put Ghost's unit file into it. If you run `systemctl enable ghost_xxx-com.service` to make Ghost start at boot time, you will see two symbolic link files will be created under `/etc/systemd/system/`.

[2018-02-09 06:59] hao-lee commented on #460
For now, `nginx` is detected by `dpkg`, so `ghost setup nginx` can only work normally on Ubuntu and Debian. I think these detections should be independent of operating system.

[2018-02-10 13:11] thedotedge opened #639 "Startup error after upgrading to 1.21.1"
### Issue Summary

Ghost fails to start after upgrade.

### Steps to Reproduce
[code]

[code]

[code]
No config changes has been done before the upgrade and it contains different IP for ghost:
[code]

[2018-02-10 13:23] acburdine commented on #639
@thedotedge what OS are you running Ghost-CLI on? Looks like the CLI couldn’t determine it in the error message.

[2018-02-11 14:22] thedotedge commented on #639
It's CentOS 7.4. Ghost on this instance has been updated many time without problems until now.

[2018-02-11 14:23] thedotedge commented on #639
`ghost run` works just fine.

[2018-02-12 09:56] kirrg001 commented on #639
Maybe this is also a timing issue? 🤔

We already increased the timeout in https://github.com/TryGhost/Ghost-CLI/commit/88043722b223b8fd1c9cb82bf55a484ba68d637b.

@acburdine Should we release another patch with this fix?

[2018-02-12 22:55] acburdine commented on #639
Just release ghost-cli 1.5.2 with the increased port timeout.

@thedotedge would you mind updating to the latest version of the CLI and seeing if it fixes the issue?

[2018-02-13 02:39] grahamcracker opened #640 "Ghost CLI 1.5.2 seems to break permissions on node_modules"
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

Docs: https://docs.ghost.org 📖.

Please be aware that the team behind the Ghost CLI only supports the recommended stack: https://github.com/TryGhost/Ghost-cli#recommended-stack.

## This issue is a

* [*] Bug Report
* [ ] Feature Request

Please fill out this templat

[2018-02-13 02:43] vikaspotluri123 commented on #640
Are you installing the adapter globally? You shouldn't have a `node_modules` folder in your installation root 🤔 (node modules will be in root/versions/{version}/)

[2018-02-13 08:14] grahamcracker commented on #640
Hmm, I'm not sure of two things:

Where I should install packages like adapters - in the Ghost root (where I run `ghost` commands) or in `GHOST_ROOT/current/`?

Also, should I install these packages globally or locally? I have been trying locally, but I have not been able to find documentation for this anywhere.

Up to this point I have been trying the `npm install` in the Ghost root. If I try it

[2018-02-13 10:06] ErisDS opened #641 "Consider yarn network timeouts"
Original slack thread: https://ghost.slack.com/archives/C04CUS2R3/p1518440412000159

A user on slack tried to install Ghost 1.0 but ran into network timeout errors from yarn. This happened on a raspberry pi, so counts as "other stack" but there are a few interesting things:

- We don't handle the error very well
- We don't expose a way to control the timeout for yarn
- This problem isn't raspberry

[2018-02-13 12:59] vikaspotluri123 commented on #640
You should actually install them in `{root}/content/adapters/storage/{name}` (not globally as I said earlier)

If you followed the directions provided by the adapter repo, you should be fine deleting the `{root}/node_modules` folder since you should have copied them to the correct location.

[2018-02-13 13:17] acburdine commented on #640
@vikaspotluri123 is correct - following the instructions in the repo for the adapter you're using should fix the issue.

At some point we'll have a more fluid process for installing adapters (see #49), unfortunately it's not incredibly straightforward at the moment. Going to close this issue in favor of #49 - however if the issue persists after deleting the `{root}/node_modules` folder then let us

[2018-02-13 13:17] #640 closed

[2018-02-13 21:00] seafoodbuffet opened #642 "GhostCLI creates remote mysql users with the wrong host"
## This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary
GhostCLI creates remote mysql database users as
'ghost-xxx'@'db hostname' instead of 'ghost-xxx'@'web hostname' or 'ghost-xxx'@'%'

This causes connections from a remote web server to fail (e.g. during `setup migrate`).

### Steps to Reproduce (for a bug report)

1. Setup two servers, one with GhostCLI, another with MySQL. Hav

[2018-02-13 21:01] acburdine commented on #642
yeah - I can see where this would occur. Remote mysql databases are definitely supported, so this is a bug. Thanks for reporting!

[2018-02-13 22:59] acburdine opened #643 "Port polling has issues with non-localhost ips"
[Link to related slack conversation](https://ghost.slack.com/archives/C04CUS2R3/p1518535567000074)

Currently the port polling library tries to connect to Ghost on the localhost ip address. This can cause issues if you set your server.host config property to something _other_ than 127.0.0.1, as Ghost will refuse the connection from localhost.

_In theory_, it should be as simple as passing the `se

[2018-02-14 10:05] #643 closed

[2018-02-14 10:06] #642 closed

[2018-02-15 10:12] mskian opened #646 "Removing old Ghost versions [skipped]"
it got this below Message while removing an older version

[code]
seems it does not fully removed/unlink the older versions
sites are working fine no issue & errors
it just want to confirm it is a bug or anything else

I check My setups and permissions all are fine

### Technical details (for a bug report)

This is automatically output by Ghost-CLI if an error occurs, please copy & paste:

* OS: U

[2018-02-15 10:15] vikaspotluri123 commented on #646
Hey @mskian 👋 this a question better suited for [slack](https://slack.ghost.org)!

That being said, there's nothing to worry about - the last 5 versions are kept just in case 😄

[2018-02-15 10:16] AileenCGN commented on #646
Closing this, as it's not an issue with the CLI

[2018-02-15 10:16] #646 closed

[2018-02-16 12:09] kirrg001 commented on #47
@acburdine We just had a case in slack. The user was logged in with `ghost` and all folders and files were owned by `ghost`. `ghost doctor` was green.

As far as i remember is the `ghost` user not part of the sudoers group?

[2018-02-16 15:07] vikaspotluri123 commented on #47
I think we might need to add a check for `.ghost-cli` writeability (or possibly ownership) for the commands that need it

[2018-02-17 14:37] acburdine commented on #49
Gonna start playing around with an implementation of this over at https://github.com/acburdine/ghost-cli-adapter-install

[2018-02-18 03:44] vikaspotluri123 opened #649 "Ghost start / stop / restart should fail gracefully"
At the moment, running these commands:

`ghost stop` when an instance is stopped
`ghost start` when an instance is started
`ghost restart` when an instance is stopped

results in an ugly error. Since the purpose of the command in every case is already fulfilled, ghost should gracefully fail (i.e. `Ghost is already running! Nothing to do here`) and exit

[2018-02-18 18:32] #649 closed

[2018-02-19 03:39] PhoenixPeca opened #652 "Update Error"
I can't seem to proceed in updating my ghost instance because the update procedure asks for my root password even though I am trying to input the right password.
![image](https://user-images.githubusercontent.com/9730242/36361522-a49b0496-1567-11e8-912b-d7ef54d5975f.png)

[2018-02-19 04:30] vikaspotluri123 commented on #652
Hey 👋 what user are you running as? It looks like you're runnning as `ghost` which is the system user that *only* runs ghost; you should be using a separate user to manage ghost instances.

[2018-02-19 05:07] PhoenixPeca commented on #652
Looks like i havent added the user as one of the sudoers. so, my bad.. im closing this now

[2018-02-19 05:07] #652 closed

[2018-02-19 05:08] vikaspotluri123 commented on #652
Alright, but if this is the user that's running ghost, it _shouldn't_ be in the sudoers group!

[2018-02-19 06:03] PhoenixPeca commented on #652
ok, i got it. gotta change my setup then. 😁😁

[2018-02-19 06:04] vikaspotluri123 commented on #652
Feel free to reach out on [slack](https://slack.ghost.org) if you have any questions!

[2018-02-19 14:58] gravesit opened #654 "Feature: Add option to disable check-directory for shared environments"
In the 1.5.X update the  check-directory.js was added and this is causing the error:
[code]

With 1.4.2 this issue does not occur and manually editing the file to bypass the check is a temporary work around.

Please add an option in the start command to disable this check for those running in shared hosting and don't have access to change directory permissions.

[2018-02-20 02:43] AileenCGN commented on #654
Hey @gravesit

Sorry to hear that you're having trouble. We added this check, as the directories above the Ghost installation folder need to be readable for other users until the root directory. Is it possible for you to change the permissions of your `/home/username` folder (`sudo chmod o+r /home/username`)?

Nevertheless, we're still improving the `ghost doctor` commands and one of the improveme

[2018-02-20 02:43] #654 closed

[2018-02-20 05:09] kirrg001 commented on #652
@AileenCGN Shouldn't `ghost doctor` catch this case before updating?

[2018-02-20 05:22] AileenCGN commented on #652
This should be checked by #47

[2018-02-20 05:27] vikaspotluri123 commented on #652
I think there are 2 issues at play here - the first is using the ghost user to run commands, and the second is the inability to create the home directory. The first issue is definitely something that could be checked with doctor, but the second happens when the System class attempts to create the global config ([here](https://github.com/TryGhost/Ghost-CLI/blob/master/lib/system.js#L67)) to store t

[2018-02-20 05:32] AileenCGN commented on #652
Agreed. That is exactly the thing that we should check. We could improve the `check-root-user` fn to also check if the current user is logged in as a ghost user somehow and prevent running commands as it.

We wouldn't actually get to this step if we stop the process because of the first issue already, correct? Nevertheless this part definitely needs some error handling, which I'm currently tacklin

[2018-02-20 05:41] vikaspotluri123 commented on #652
I was actually thinking along the lines of not creating the user properly. I know in one of the VMs I used to have I used `useradd` instead of `adduser` which didn't create the homedir (`adduser` is a pretty wrapper for `useradd` and takes care of things like that) which in turn would have theoretically created the same issue for me. The only question is how often would something like this happen

[2018-02-23 04:21] heshanfu opened #658 "The database migration in Ghost encountered an error when upgrading Ghost"
When upgrading from 1.8.1 to v1.21.3 I encountered the following issue that I haven't seen before. I am now getting a 502 Bad Gateway .

[39m Downloading and updating Ghost to v1.21.3
[39m Stopping Ghost [skipped]
[39m Linking latest Ghost and recording versions
[39m Running database migrations
A ProcessError occurred.

Message: The database migration in Ghost encountered an error.
Help: https://d

[2018-02-23 05:02] heshanfu commented on #658
ghost log
An error occurred.
Message: 'Cannot read property 'join' of undefined'

Debug Information:
    OS: linux, v2.6.32-042stab127.2
    Node Version: v6.13.0
    Ghost-CLI Version: 1.5.2
    Environment: production
    Command: 'ghost log'

Additional log info available in: /home/heshanfu/.ghost/logs/ghost-cli-debug-2018-02-23T05_01_40_536Z.log

Try running ghost doctor to check your system f

[2018-02-23 05:03] heshanfu commented on #658
cat /home/heshanfu/.ghost/logs/ghost-cli-debug-2018-02-23T05_01_40_536Z.log
Debug Information:
    OS: linux, v2.6.32-042stab127.2
    Node Version: v6.13.0
    Ghost-CLI Version: 1.5.2
    Environment: production
    Command: 'ghost log'
An error occurred.
Message: 'Cannot read property 'join' of undefined'

Stack: TypeError: Cannot read property 'join' of undefined
    at LogCommand.run (/usr/li

[2018-02-23 05:12] heshanfu commented on #658
ghost log
An error occurred.
Message: 'Cannot read property 'join' of undefined'

Debug Information:
    OS: linux, v2.6.32-042stab127.2
    Node Version: v6.13.0
    Ghost-CLI Version: 1.5.2
    Environment: production
    Command: 'ghost log'

Additional log info available in: /home/heshanfu/.ghost/logs/ghost-cli-debug-2018-02-23T05_12_00_150Z.log

Try running ghost doctor to check your system f

[2018-02-23 06:09] heshanfu commented on #658
i try to change system os, update nodejs,update ghost-cli,update ghost,but cannot start ghost.help.

[2018-02-23 06:39] AileenCGN commented on #658
Hey @heshanfu

Sorry to hear that you're having trouble. Did you actually try any of the suggestions? Like ` ghost update --rollback`?

Please swing by to our [Slack](https://slack.ghost.org) channel  to get support, as we use GitHub issues only to track actual bugs or feature requests, but not for support.

I will close this issue for now, but we can always reopen it, if it turns out to be an iss

[2018-02-23 06:39] #658 closed

[2018-02-23 06:48] heshanfu commented on #658
i try to ghost update --rollback

ghost update --rollback
An error occurred.
Message: 'No previous version found'

Debug Information:
    OS: linux, v2.6.32-042stab127.2
    Node Version: v6.13.0
    Ghost-CLI Version: 1.5.2
    Environment: production
    Command: 'ghost update --rollback'

Additional log info available in: /home/heshanfu/.ghost/logs/ghost-cli-debug-2018-02-23T06_47_49_618Z.log

[2018-02-23 06:48] heshanfu commented on #658
cat /home/heshanfu/.ghost/logs/ghost-cli-debug-2018-02-23T06_45_55_380Z.log
Debug Information:
    OS: linux, v2.6.32-042stab127.2
    Node Version: v6.13.0
    Ghost-CLI Version: 1.5.2
    Environment: development
    Command: 'ghost start -D'
Message: An error occurred.
Stack: Error: An error occurred.
    at ChildProcess.cp.on (/usr/lib/node_modules/ghost-cli/lib/utils/local-process.js:63:35)

[2018-02-23 06:50] heshanfu commented on #658
i try it ,but i cannot start ghost also.help me please

[2018-02-24 04:00] chasekafei commented on #414
Finally I find the reason [HERE](https://bugzilla.redhat.com/show_bug.cgi?id=1073481). It's a bug of systemd when using `systemctl is-active` or `systemctl is-failed`. Sometimes it returns `unknown`, not `inactive`.

They suggest to use
`systemctl show ${this.systemdName} -p ActiveState` which return `ActiveState=inactive`
instead of
`systemctl is-active ${this.systemdName}`
for stability promise

[2018-02-24 06:12] techayu opened #660 "Ghost CLI Validating config undefined."
Welcome to Ghost-CLI's GitHub repo! 👋🎉

Do you need help or have a question? Please come chat in Slack: https://slack.ghost.org/ 👫.

Docs: https://docs.ghost.org 📖.

Please be aware that the team behind the Ghost CLI only supports the recommended stack: https://github.com/TryGhost/Ghost-cli#recommended-stack.

## This issue is a

* [x] Bug Report
* [x] Feature Request

Please fill out this templat

[2018-02-24 06:37] chasekafei commented on #414
I replace line 88 in `ghost-cli/extensions/systemd/systemd.js` and everthing works fine now.

[code]
But I don't know whether can this works for everyone.

[2018-02-26 18:44] alznyc opened #661 "EACCES: permission denied, unlink .... eslintrc.json"
**Issue Summary**
Recently, after running ghost update after 1.20, the updater will give the following message:

Message: 'EACCES: permission denied, unlink '/var/www/XXXX/versions/1.19.0/.eslintrc.json''

Debug Information:
OS: Ubuntu, v16.04
Node Version: v6.9.1
Ghost-CLI Version: 1.5.2
Environment: production
Command: 'ghost update'

However, the actual update completed and everything works fin

[2018-02-28 12:32] PhoenixPeca opened #662 "Ghost Restart and Start command shows an error"
Hi,
Why does `ghost restart` and `ghost start` does not work sometimes? It works most of the time but, it occasionally gives an error that says ghost could not be restarted, or started..

Issue:
![image](https://user-images.githubusercontent.com/9730242/36787777-492b83b8-1cc6-11e8-9f08-237a6761b36d.png)

Log file:
![image](https://user-images.githubusercontent.com/9730242/36787809-69faeab6-1cc6-11

[2018-02-28 12:32] PhoenixPeca commented on #662
Manually executing `sudo systemctl start ghost_www-phoenixpeca-xyz` works well though..

[2018-03-01 08:44] kirrg001 commented on #662
@PhoenixPeca Can you please fill out our [issue template](https://github.com/TryGhost/Ghost-CLI/blob/master/.github/ISSUE_TEMPLATE.md) completely? Thanks.

[2018-03-07 16:02] PhoenixPeca commented on #662
somehow, the issue no longer appears..

[2018-03-07 16:02] #662 closed

[2018-03-08 14:40] dandv commented on #173
I still get this error incorrectly. It was triggered by entering the wrong password due to an arguably confusing prompt:

![image](https://user-images.githubusercontent.com/33569/37156636-710e6a32-229b-11e8-8e4c-6f9dfeb7ba0e.png)

After that, the installation seems to be in a broken state. I've deleted /var/www/ghost, but running `ghost install` produces "Message: Current directory is not empty, G

[2018-03-08 15:13] meteorpublish opened #665 "Direct the user to /ghost at the end of setup"
## This issue is a

* [x] Feature Request
* [ ] Bug Report

### Summary

After completing `ghost install`, I'm like "Now what?". Fortunately I'd seen somewhere else that you can access the admin UI at /ghost, so I appended that to my blog's URL.

But new users might not know this.

### Steps to Reproduce (for a bug report)

1. Complete the [production install steps](https://docs.ghost.org/docs/ins

[2018-03-08 15:15] meteorpublish opened #666 "Use the https URL if the user had set up SSL"
## This issue is a

* [x] Feature Request
* [ ] Bug Report

### Summary

After completing `ghost install` with SSL, my blog URL was displayed as http://...

### Steps to Reproduce (for a bug report)

1. Complete the [production install steps](https://docs.ghost.org/docs/install)
2. Make sure to set up SSL

### Log file (for a bug report)

[code]

### Technical details (for a bug report)

    Ghost

[2018-03-08 15:16] acburdine commented on #665
@meteorpublish this is a good idea - thanks!

[2018-03-08 15:19] acburdine commented on #666
@meteorpublish The url that's displayed is taken directly from the config - so if you used the http version of your url whenever Ghost-CLI prompted for a URL, then it will display the http url on start, even if you set up SSL. If you want the https url to be shown, then you'll need to configure it as such 😉

Going to close this as the current behavior is intentional.

[2018-03-08 15:19] #666 closed

[2018-03-08 17:31] vikaspotluri123 commented on #665
Would we want to add this line after the StartCommmand 🤔
(i.e.
[code]
)

[2018-03-08 20:54] meteorpublish commented on #666
Yeah, technically that's correct. User entered "http", direct them to "http". But,

1. Do we want to promote security? If so, we should direct the user to the https:// URL if SSL was set up.

2. Do we want to be strict? If so, HTTP. Or do we want to be user-friendly? HTTPS makes more sense then because if a user has set up SSL, the second thing they want to do is check that SSL works.

[2018-03-09 03:25] Magentaize opened #667 "Cannot run database migrations"
## This issue is a

* [x] Bug Report
* [ ] Feature Request

### Summary
Processing a new & clean installation, ghost-cli cannot be installed properly.

### Steps to Reproduce (for a bug report)

1. cd into a empty dir
2. run `sudo npm install -g ghost-cli`
3. run `ghost install`
4. make some config its needs
5. error happens:

Running sudo command: /mnt/wwwroot/blog/current/node_modules/.bin/knex-

[2018-03-12 05:50] #667 closed

[2018-03-12 05:52] Magentaize commented on #667
@AileenCGN Thanks for your reply.
But I have installed MySQL in another LAN machine, and use intranet address to access it (likes 192.168.2.142:3308).

[2018-03-12 12:11] AdrienGiboire commented on #509
Hey @illnino ! I got the same issue just yesterday. I'll keep digging but since you closed the issue, I figured you manage to deal with it?

[2018-03-12 13:45] illnino commented on #509
Right. It is not a problem of Ghost-CLI, but the linux, nginx setting.

On Mon, 12 Mar 2018 at 20:11 Adrien <notifications@github.com> wrote:

[2018-03-12 17:51] ErisDS commented on #173
@dandv I have questions:

What was confusing here? What were your expectations?

Did you try to use `ghost uninstall` ?

After deleting folders, where did you try to install Ghost?

I understand that you expect that the CLI would clean up after itself, that's very tricky though - imagine if you ran `ghost install` in an already setup ghost folder by mistake, it failed, and Ghost deleted everything

[2018-03-12 21:46] #446 closed

[2018-03-12 21:49] acburdine commented on #667
@Magentaize it looks like sudo isn't able to execute the migrate script inside your ghost install directory. Is your install directory an externally mounted/network drive? (reason I ask is it's inside `/mnt`). If so, that _might_ be the cause of the issue - it wouldn't be surprising that file permissions might be a bit weird on external drives.

[2018-03-13 16:12] AdrienGiboire commented on #509
I'll post here for memory what I've been through and would like to mention I think something went wrong with `ghost update`  but can't tell for sure.

[2018-03-14 05:46] xiaochunjimmy opened #670 "reading_time helper did not work with Chinese"
* [ ] Bug Report

### Steps to Reproduce (for a bug report)

1.Input about 2750 Chinese words in a new blog story.
2.In the published page you'll see the reading time area prints "< 1 min read".
but it should print 2750/275=10 min .
3.In put some 2750 English words in the blog story, and the published blog article prints 10min.
so it works with English.
4.In put about 2750 Chinese words and 2750 s

[2018-03-14 06:25] AileenCGN commented on #670
Hey @xiaochunjimmy

The `{{reading_time}}` helper is currently not able to count non-latin languages like Chinese.

This would need input from the community. Feel free to open an issue with a solution in mind on how to solve this in the [Ghost repo](https://github.com/TryGhost/Ghost) (not Ghost-CLI).

[2018-03-14 06:25] #670 closed

[2018-03-14 07:58] Magentaize commented on #667
@acburdine
Thanks for your reply.

After I granted this folder a+x permission, ghost-cli throws another error:
[code]

[2018-03-14 12:45] welchwsy commented on #639
the same of this problem
[code]
[code]

[2018-03-14 13:03] kirrg001 commented on #639
@welchwsy Does it timeout all the time or just sometimes?
Also, can you pls provide a little more information e.g. which server/droplet.

[2018-03-14 18:24] Cavain opened #671 "Ghost Problem with SSL"
Hello,

I Installed Ghost on my cPanel server but now i am facing issue with SSL. I found so many articles describing SSL setup with nginx but it won't work for me. I have SSL installed in my domain but when i open my domain without SSL , like " http://domain.com " it works and when i try to open it with SSL Like this " https://domain.com " It shows all the home direcotrys instead of Ghost platfor

[2018-03-14 21:20] acburdine commented on #671
@Cavain Setting up Ghost using cPanel isn't supported - there are a lot of "gotchas" that you'll run into unfortunately. However, the issue that it looks like you're running into is that the SSL config for nginx (or apache, whichever one you're using), isn't proxying the requests to Ghost.

If you're using nginx, there should be a particular block in your non-ssl configuration (since you said non-

[2018-03-14 21:20] #671 closed

[2018-03-14 21:32] acburdine commented on #665
@vikaspotluri123 Yeah that was the thought, however I think the message should be a little bit more informative specifically on install? e.g. "Next, go to `<url>/ghost/` to complete your blog setup." or something similar.